<p>Help us out by Sharing/sharing on your wall about OMH or maybe even donate a little something to help the project.</p>
<div class="fb-share-button" data-href="{{data.config.root_url}}/number/{{data.number}}" data-layout="button"></div>
<a class="twitter-share-button" href="https://twitter.com/intent/tweet?url={{data.config.root_url}}/number/{{data.number}}">
  Tweet
</a>
