<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 1</title>
    <style type="text/css">    
        body{    
           background-image: url(resource/New\ Zealand1.jpg);    
           background-size:cover;  
        }    
    </style>
