<A NAME="table5"><h1><em>LT OS</em></h1></A>
<table cellspacing="0" border="0">
	<colgroup width="123"></colgroup>
	<colgroup width="150"></colgroup>
	<colgroup span="2" width="74"></colgroup>
	<colgroup span="2" width="141"></colgroup>
	<colgroup span="2" width="166"></colgroup>
	<colgroup span="5" width="120"></colgroup>
	<colgroup span="4" width="74"></colgroup>
	<colgroup width="97"></colgroup>
	<colgroup span="3" width="86"></colgroup>
	<tr>
		<td height="22" align="left" valign=bottom><b><font size=3 color="#000000">LT ORDER SHEET</font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="right" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="right" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><i><font size=3 color="#000000"><br></font></i></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>		
	<tr>
		<td height="32" align="left" valign=bottom><u><font size=5 color="#000000">REBATE PROGRAM: LT</font></u></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><b><font size=3 color="#000000">PLUS SPECIAL PACKAGE: ASSORTED 6.50X14 Cargo Rib 7.00X15 Amar and Amar Gold</font></b></td>
		<td align="right" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="right" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><i><font size=3 color="#000000"><br></font></i></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><b><font size=3 color="#000000">Terms and Conditions:</font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td colspan=3 align="center" valign=bottom><b><font size=3 color="#000000"><br></font></b></td>
		<td colspan=3 align="center" valign=bottom><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><i><font size=3 color="#000000"><br></font></i></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font size=3 color="#000000">Applicable only for orders booked tonight<br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFC000"><font size=3 color="#000000">Samsung Galaxy M31 128GB</font></td>
		<td align="right" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFC000"><font size=3 color="#000000">150]</font></td>
		<td align="center" valign=bottom><b><font size=3 color="#000000"><br></font></b></td>
		<td align="center" valign=middle><b><font size=3 color="#000000"><br></font></b></td>
		<td align="center" valign=middle><b><font size=3 color="#000000"><br></font></b></td>
		<td align="center" valign=middle><b><font size=3 color="#000000"><br></font></b></td>
		<td align="center" valign=middle><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><i><font size=3 color="#000000"><br></font></i></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td colspan=4 rowspan=2 height="65" align="left" valign=bottom><font size=3 color="#000000">REBATES will be issued as Credit Memos after delivery and clearing of checks for this transaction</font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFC000"><font color="#000000">iPad Air 64Gb</font></td>
		<td align="right" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFC000" sdval="200" sdnum="1033;"><font size=3 color="#000000">200</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><i><font size=3 color="#000000"><br></font></i></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000">IPHONE 12 128GB</font></td>
		<td align="right" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFC000" sdval="300" sdnum="1033;"><font size=3 color="#000000">300</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><i><font size=3 color="#000000"><br></font></i></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font size=3 color="#000000">Does not apply to special priced items (i.e. Old DOT etc.) <br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><i><font size=3 color="#000000"><br></font></i></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><i><font size=3 color="#000000"><br></font></i></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><i><font size=3 color="#000000"><br></font></i></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><b><i><font size=3 color="#000000">***STANDARD VOLUME DISCOUNTS WILL BE APPLIED DIRECTLY ON DELIVERIES; 30PCS &amp; UP LESS 2%; 50PCS &amp; UP LESS 3%</font></i></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="right" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="right" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><i><font size=3 color="#000000"><br></font></i></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><b><i><font size=3 color="#000000">Additional 0.5% Discount Applies for Extension of the Previous Rebate Program </font></i></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="right" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="right" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><i><font size=3 color="#000000"><br></font></i></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><b><i><font size=3 color="#000000">Additional 1.0% Rebate upon upgrading of previous Rebate program to a higher volume level</font></i></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="right" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="right" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><i><font size=3 color="#000000"><br></font></i></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><b><i><u><font size=3 color="#FF0000">Order for the night Qualifies for the Raffle of the night</font></u></i></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="right" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="right" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><i><font size=3 color="#000000"><br></font></i></td>
		<td align="right" valign=bottom sdval="5" sdnum="1033;"><font size=3 color="#000000">5</font></td>
		<td align="right" valign=bottom sdval="6" sdnum="1033;"><font size=3 color="#000000">6</font></td>
		<td align="right" valign=bottom sdval="7" sdnum="1033;"><font size=3 color="#000000">7</font></td>
		<td align="right" valign=bottom sdval="8" sdnum="1033;"><font size=3 color="#000000">8</font></td>
	</tr>
    </table>