<div class="modal modal-share fade" id="modal-share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title" id="myModalLabel">Share this free human slot</h4>
	        </div>
        	<div class="modal-body">
						<div class="input-group input-group">
							<span class="input-group-addon" id="label-url">Url to share</span>
							<input type="text" class="form-control js-share-url" placeholder="Url to share" aria-describedby="label-url" name="url" value="" />
						</div>

						<iframe border="0" class="js-share-iframe share-iframe" src="" height="200" width="100%"></iframe>

					</div>
        	<div class="modal-footer">
					</div>
			</div>
		</div>
	</div>
