<div class="modal modal-login fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

					<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title" id="myModalLabel">Login</h4>
	        </div>
        	<div class="modal-body">
						<div class="social-links-container">
							<a href="/login/facebook" class="icon-facebook icon-facebook-squared">Facebook</a>
							<a href="/login/twitter" class="icon-twitter icon-twitter-squared">Twitter</a>
						</div>
					</div>
        	<div class="modal-footer">
					</div>
			</div>
		</div>
	</div>
