<div class="modal modal-copright fade" id="modal-copright" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title" id="myModalLabel">Copright</h4>
	        </div>
        	<div class="modal-body">
						One million human Homepage © 2015. All rights reserved. OMH is not responsible for the content of external sites. Images featured on homepage are © of their respective owners. 
					</div>
			</div>
		</div>
	</div>
