<div class="modal modal-faq fade" id="modal-faq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title" id="myModalLabel">FAQ</h4>
	        </div>
        	<div class="modal-body">
            <div class="panel-group" id="accordion">
              <div class="faqHeader">General questions</div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What's Onemillionhumans ?</a>
                      </h4>
                  </div>
                  <div id="collapseTen" class="panel-collapse collapse in">
                      <div class="panel-body">
                          A lot of the content of the site has been submitted by the community. Whether it is a commercial element/template/theme
                          or a free one, you are encouraged to contribute. All credits are published along with the resources.
                      </div>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">How Onemillionhumans works?</a>
                      </h4>
                  </div>
                  <div id="collapseEleven" class="panel-collapse collapse">
                      <div class="panel-body">
                          All prices for themes, templates and other items, including each seller's or buyer's account balance are in <strong>USD</strong>
                      </div>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How long Onemillionhumans live ?</a>
                      </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                          All prices for themes, templates and other items, including each seller's or buyer's account balance are in <strong>USD</strong>
                      </div>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Is account registration required?</a>
                      </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                          Account registration at <strong>Onemillionhumans</strong> is only required if you will be buying a human slot.
                          This ensures a valid communication channel for all parties involved in any transactions.
                      </div>
                  </div>
              </div>
              </div>
					</div>
			</div>
		</div>
	</div>
