<div class="modal modal-abuse fade" id="modal-abuse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title" id="myModalLabel">Abuse</h4>
	        </div>
        	<div class="modal-body">
						To report abuse, please send an email with a description to abuse@onemillionhumans.com
					</div>

			</div>
		</div>
	</div>
