<nav class="navbar navbar-expand-lg navbar-black fixed-top ralis-nav bg-dark">
  <div class="container">
      <a class="navbar-brand" href="index.ejs"><img src="/images/ralis-mark.svg" width="43" alt=""> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="/">Services</a></li>
              <li class="nav-item"><a class="nav-link" href="https://raliscareers-ralis.icims.com/jobs/intro?hashed=-435682941&mobile=false&width=1140&height=500&bga=true&needsRedirect=false&jan1offset=-480&jun1offset=-420">Careers</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
          </ul>
      </div>
  </div>
  </nav>
