<A NAME="table4"><h1>Sheet 4: <em>PCR OS</em></h1></A>
<table align="left" cellspacing="0" border="0">
	<colgroup width="174"></colgroup>
	<colgroup width="47"></colgroup>
	<colgroup width="188"></colgroup>
	<colgroup width="112"></colgroup>
	<colgroup width="74"></colgroup>
	<colgroup span="2" width="150"></colgroup>
	<colgroup span="2" width="177"></colgroup>
	<colgroup width="120"></colgroup>
	<colgroup width="168"></colgroup>
	<colgroup width="146"></colgroup>
	<colgroup span="2" width="120"></colgroup>
	<colgroup span="3" width="74"></colgroup>
	<colgroup width="429"></colgroup>
	<colgroup width="97"></colgroup>
	<colgroup span="2" width="86"></colgroup>
	<colgroup width="74"></colgroup>
	
	<tr>
		<td height="22" align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-left: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000">A.) APTERRA + ALTRUST UPGRADE PACKAGE </font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=11 align="center" valign=middle bgcolor="#A9D18E"><b><font size=5 color="#000000">February Delivery Only</font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="32" align="left" valign=bottom><u><font size=5 color="#000000">SPECIAL PACKAGES</font></u></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-left: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000">ORDER 200pcs. Altrust and Apterra assorted</font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><b><font size=3 color="#000000">Terms and Conditions:</font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-left: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000">DELIVERED within February 2021</font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td colspan=5 height="22" align="left" valign=bottom><font size=3 color="#000000">Upgrade package and freebies is given ON TOP of the rebates</font></td>
		<td style="border-left: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000">GET A FREE SONY PS 5</font></b></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td colspan=3 height="22" align="left" valign=middle><font size=3 color="#000000">Cellphone will be given upon clearing of payments</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000">Volume computed  on February Delivery in PCR OS</font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td colspan=5 height="22" align="left" valign=middle><font size=3 color="#000000">Special prices including Old DOT are not included in the promo </font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="center" valign=middle><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=middle><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=middle><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=middle><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=middle><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-left: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000">B.) PCR ASSORTED UPGRADE PACKAGE</font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-left: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000">ORDER 300pcs Assorted PCR including at least 50pcs Apterra</font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-left: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000">ALL ORDERS DELIVERED within February 2021</font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000">GET A FREE IPHONE 12 (basic) </font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000">Volume computed  on February Delivery in PCR OS</font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="32" align="left" valign=bottom><u><font size=5 color="#000000">REBATE PROGRAM: PCR</font></u></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><b><font size=3 color="#000000">Terms and Conditions:</font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=2 align="center" valign=bottom><b><font size=3 color="#000000">TOTAL PURCHASE IN PCS.</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><b><font size=3 color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=bottom><b><font size=3 color="#000000">DISCOUNT</font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font size=3 color="#000000">Applicable only for orders booked tonight<br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><b><font size=3 color="#000000">FROM</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><b><font size=3 color="#000000">TO</font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font size=3 color="#000000">FEB</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font size=3 color="#000000">MAR</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font size=3 color="#000000">APRIL</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font size=3 color="#000000">May</font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td colspan=5 rowspan=2 height="43" align="left" valign=bottom><font size=3 color="#000000">REBATES will be issued as Credit Memos after delivery and clearing of checks for this transaction</font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="0" sdnum="1033;"><font size=3 color="#000000">0</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="59" sdnum="1033;"><font size=3 color="#000000">59</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="0" sdnum="1033;0;0%"><font size=3 color="#000000">0%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0" sdnum="1033;0;0%"><font size=3 color="#000000">0%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0" sdnum="1033;0;0%"><font size=3 color="#000000">0%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0" sdnum="1033;0;0%"><font size=3 color="#000000">0%</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="60" sdnum="1033;"><font size=3 color="#000000">60</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="119" sdnum="1033;"><font size=3 color="#000000">119</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="0.04" sdnum="1033;0;0.00%"><font size=3 color="#000000">4.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.03" sdnum="1033;0;0.00%"><font size=3 color="#000000">3.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.025" sdnum="1033;0;0.00%"><font size=3 color="#000000">2.50%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.025" sdnum="1033;0;0.00%"><font size=3 color="#000000">2.50%</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="center" valign=bottom><font size=3 color="#000000">Does not apply to special priced items (i.e. Old DOT etc.) <br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="120" sdnum="1033;"><font size=3 color="#000000">120</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="179" sdnum="1033;"><font size=3 color="#000000">179</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="0.05" sdnum="1033;0;0.00%"><font size=3 color="#000000">5.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.045" sdnum="1033;0;0.00%"><font size=3 color="#000000">4.50%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.035" sdnum="1033;0;0.00%"><font size=3 color="#000000">3.50%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.035" sdnum="1033;0;0.00%"><font size=3 color="#000000">3.50%</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="180" sdnum="1033;"><font size=3 color="#000000">180</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="239" sdnum="1033;"><font size=3 color="#000000">239</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="0.06" sdnum="1033;0;0.00%"><font size=3 color="#000000">6.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.05" sdnum="1033;0;0.00%"><font size=3 color="#000000">5.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.04" sdnum="1033;0;0.00%"><font size=3 color="#000000">4.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.04" sdnum="1033;0;0.00%"><font size=3 color="#000000">4.00%</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="240" sdnum="1033;"><font size=3 color="#000000">240</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="0.07" sdnum="1033;0;0.00%"><font size=3 color="#000000">7.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.06" sdnum="1033;0;0.00%"><font size=3 color="#000000">6.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.05" sdnum="1033;0;0.00%"><font size=3 color="#000000">5.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.05" sdnum="1033;0;0.00%"><font size=3 color="#000000">5.00%</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="center" valign=bottom><b><i><font size=3 color="#000000">***STANDARD VOLUME DISCOUNTS WILL BE APPLIED DIRECTLY ON DELIVERIES;  50PCS &amp; UP LESS 4%</font></i></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="center" valign=bottom><b><i><u><font size=3 color="#FF0000">EXCEPT FOR ITEMS WITH SPECIAL PRICE OF THE NIGHT</font></u></i></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="right" valign=bottom sdval="7" sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"> 7.00 </font></td>
		<td align="right" valign=bottom sdval="8" sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"> 8.00 </font></td>
		<td align="right" valign=bottom sdval="9" sdnum="1033;0;_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;-&quot;??_);_(@_)"><font size=3 color="#000000"> 9.00 </font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
    </table>