<table cellspacing="0" border="0">
	<colgroup width="514"></colgroup>
	<colgroup width="59"></colgroup>
	<colgroup span="2" width="103"></colgroup>
	<colgroup width="95"></colgroup>
	<colgroup width="132"></colgroup>
	<colgroup width="108"></colgroup>
	<colgroup width="73"></colgroup>
	<tbody><tr>
		<td height="33" align="left" valign="bottom" bgcolor="#FFC000"><b><font size="5" color="#000000">PCR</font></b></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign="bottom"><b><u><font color="#000000">SPECIAL PACKAGES</font></u></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-left: 1px solid #000000" height="22" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000">A.) APTERRA + ALTRUST UPGRADE PACKAGE </font></td>
		<td style="border-top: 1px solid #000000" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan="2" rowspan="11" align="center" valign="middle" bgcolor="#A9D18E"><b><font size="5" color="#000000">February Delivery Only</font></b></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000" height="22" align="left" valign="bottom" bgcolor="#FFC000"><b><font size="3" color="#000000">ORDER 200pcs. Altrust and Apterra assorted</font></b></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><b><font size="3" color="#000000"><br></font></b></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000" height="22" align="left" valign="bottom" bgcolor="#FFC000"><b><font size="3" color="#000000">DELIVERED within February 2021</font></b></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><b><font size="3" color="#000000"><br></font></b></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000" height="22" align="left" valign="bottom" bgcolor="#FFC000"><b><font size="3" color="#000000">GET A FREE SONY PS 5</font></b></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000">Volume computed  on February Delivery in PCR OS</font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign="bottom"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-left: 1px solid #000000" height="22" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000">B.) PCR ASSORTED UPGRADE PACKAGE</font></td>
		<td style="border-top: 1px solid #000000" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000" height="22" align="left" valign="bottom" bgcolor="#FFC000"><b><font size="3" color="#000000">ORDER 300pcs Assorted PCR including at least 50pcs Apterra</font></b></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><b><font size="3" color="#000000"><br></font></b></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-left: 1px solid #000000" height="22" align="left" valign="bottom" bgcolor="#FFC000"><b><font size="3" color="#000000">ALL ORDERS DELIVERED within February 2021</font></b></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><b><font size="3" color="#000000"><br></font></b></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" height="22" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000">GET A FREE IPHONE 12 (basic) </font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000">Volume computed  on February Delivery in PCR OS</font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="23" align="left" valign="bottom"><b><font color="#000000">Terms and Conditions:</font></b></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="19" align="left" valign="bottom"><font color="#000000">Upgrade package and freebies is given ON TOP of the rebates</font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="middle"><font color="#000000">Cellphone will be given upon clearing of payments</font></td>
		<td align="left" valign="middle"><font color="#000000"><br></font></td>
		<td align="left" valign="middle"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign="middle"><font color="#000000">Special prices including Old DOT are not included in the promo </font></td>
		<td align="left" valign="middle"><font color="#000000"><br></font></td>
		<td align="left" valign="middle"><font color="#000000"><br></font></td>
		<td align="left" valign="middle"><font color="#000000"><br></font></td>
		<td align="left" valign="middle"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="33" align="left" valign="bottom" bgcolor="#FFC000"><b><font size="5" color="#000000">LT (LTR + LTB)</font></b></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><u><font color="#000000">SPECIAL PACKAGE</font></u></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign="bottom"><b><font size="3" color="#000000">PLUS SPECIAL PACKAGE: ASSORTED 6.50X14 Cargo Rib 7.00X15 Amar and Amar Gold</font></b></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan="2" height="37" align="center" valign="bottom"><b><font color="#000000">GET A FREE: </font></b></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000" colspan="4" align="center" valign="bottom"><font color="#000000">DELIVERY PHASING</font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td align="left" valign="bottom"><font color="#000000">Total</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000">Feb</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000">Mar</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000">Apr</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000">May</font></b></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="22" align="center" valign="middle" bgcolor="#FFC000"><font size="3" color="#000000">Samsung Galaxy M31 128GB</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="middle" bgcolor="#FFC000" sdval="150" sdnum="1033;"><font size="3" color="#000000">150</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="40" sdnum="1033;"><font color="#000000">40</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="40" sdnum="1033;"><font color="#000000">40</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="40" sdnum="1033;"><font color="#000000">40</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="30" sdnum="1033;"><font color="#000000">30</font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="22" align="center" valign="middle" bgcolor="#FFC000"><font color="#000000">iPad Air 64Gb</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="middle" bgcolor="#FFC000" sdval="200" sdnum="1033;"><font size="3" color="#000000">200</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="50" sdnum="1033;"><font color="#000000">50</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="50" sdnum="1033;"><font color="#000000">50</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="50" sdnum="1033;"><font color="#000000">50</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="50" sdnum="1033;"><font color="#000000">50</font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="22" align="center" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000">IPHONE 12 128GB</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="middle" bgcolor="#FFC000" sdval="300" sdnum="1033;"><font size="3" color="#000000">300</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="75" sdnum="1033;"><font color="#000000">75</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="75" sdnum="1033;"><font color="#000000">75</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="75" sdnum="1033;"><font color="#000000">75</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="75" sdnum="1033;"><font color="#000000">75</font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign="bottom"><u><font color="#000000"><br></font></u></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign="bottom"><u><font color="#000000"><br></font></u></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="33" align="left" valign="bottom" bgcolor="#FFC000"><b><font size="5" color="#000000">TB (TBR + TBB)</font></b></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><font size="5" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><b><u><font color="#000000">SPECIAL PACKAGES</font></u></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><b><u><font color="#000000">PACKAGE A: ASSORTED TBR</font></u></b></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan="2" height="37" align="center" valign="bottom"><b><font color="#000000">GET A FREE: </font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="4" align="center" valign="bottom"><b><font color="#000000">DELIVERY PHASING</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000">TOTAL</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000">Feb</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000">Mar</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000">Apr</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000">May</font></b></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000"><br></font></b></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="22" align="center" valign="middle" bgcolor="#FFC000"><font color="#000000">Samsung Galaxy M31 128GB</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="middle" bgcolor="#FFC000" sdval="100" sdnum="1033;"><font size="3" color="#000000">100</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="25" sdnum="1033;"><font color="#000000">25</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="25" sdnum="1033;"><font color="#000000">25</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="25" sdnum="1033;"><font color="#000000">25</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="25" sdnum="1033;"><font color="#000000">25</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="22" align="center" valign="middle" bgcolor="#FFC000"><font color="#000000">iPad Air 64Gb</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="middle" bgcolor="#FFC000" sdval="150" sdnum="1033;"><font size="3" color="#000000">150</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="40" sdnum="1033;"><font color="#000000">40</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="40" sdnum="1033;"><font color="#000000">40</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="40" sdnum="1033;"><font color="#000000">40</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="30" sdnum="1033;"><font color="#000000">30</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="22" align="center" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000">IPHONE 12 128GB</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="middle" bgcolor="#FFC000" sdval="200" sdnum="1033;"><font size="3" color="#000000">200</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="50" sdnum="1033;"><font color="#000000">50</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="50" sdnum="1033;"><font color="#000000">50</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="50" sdnum="1033;"><font color="#000000">50</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="50" sdnum="1033;"><font color="#000000">50</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="18" align="center" valign="middle" bgcolor="#FFC000"><font color="#000000">iPhone 12 and iPad Air 64Gb</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="middle" bgcolor="#FFC000" sdval="300" sdnum="1033;"><font color="#000000">300</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="75" sdnum="1033;"><font color="#000000">75</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="75" sdnum="1033;"><font color="#000000">75</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="75" sdnum="1033;"><font color="#000000">75</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="75" sdnum="1033;"><font color="#000000">75</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="center" valign="middle"><font color="#000000"><br></font></td>
		<td align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td align="center" valign="middle"><font color="#000000"><br></font></td>
		<td align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td align="center" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000">TERMS AND CONDITIONS:</font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000">● Packages and Offer Prices are fixed and cannot be modified</font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000">● Terms of Payment: 90 Days </font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000">● Included in the computation of the raffle</font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><b><u><font color="#000000">PACKAGE : TBB</font></u></b></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="29" align="left" valign="bottom" bgcolor="#FFC000"><b><font size="4" color="#000000">+PLUS SPECIAL PACKAGE: ASSORTED TBB</font></b></td>
		<td align="left" valign="bottom" bgcolor="#FFC000"><b><font size="3" color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="3" align="center" valign="bottom"><b><font color="#000000">DELIVERY PHASING</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign="bottom"><b><font color="#000000"><br></font></b></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan="2" height="43" align="center" valign="bottom" bgcolor="#FFC000"><b><font size="3" color="#000000">GET A FREE: </font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" bgcolor="#FFC000"><b><font size="3" color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000">Feb</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000">Mar</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000">Apr</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000">May</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><b><font color="#000000"><br></font></b></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" bgcolor="#FFC000"><b><font size="3" color="#000000">TOTAL</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="22" align="center" valign="middle" bgcolor="#FFC000"><font color="#000000">Samsung Galaxy M31 128GB</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="middle" bgcolor="#FFC000" sdval="200" sdnum="1033;"><font size="3" color="#000000">200</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="50" sdnum="1033;"><font color="#000000">50</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="50" sdnum="1033;"><font color="#000000">50</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="50" sdnum="1033;"><font color="#000000">50</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="50" sdnum="1033;"><font color="#000000">50</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="22" align="center" valign="middle" bgcolor="#FFC000"><font color="#000000">iPad Air 64Gb</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="middle" bgcolor="#FFC000" sdval="300" sdnum="1033;"><font size="3" color="#000000">300</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="75" sdnum="1033;"><font color="#000000">75</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="75" sdnum="1033;"><font color="#000000">75</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="75" sdnum="1033;"><font color="#000000">75</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="75" sdnum="1033;"><font color="#000000">75</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="22" align="center" valign="bottom" bgcolor="#FFC000"><font size="3" color="#000000">IPHONE 12 128GB</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="middle" bgcolor="#FFC000" sdval="400" sdnum="1033;"><font size="3" color="#000000">400</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="100" sdnum="1033;"><font color="#000000">100</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="100" sdnum="1033;"><font color="#000000">100</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="100" sdnum="1033;"><font color="#000000">100</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom" sdval="100" sdnum="1033;"><font color="#000000">100</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="center" valign="middle"><font color="#000000"><br></font></td>
		<td align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td align="center" valign="middle"><font color="#000000"><br></font></td>
		<td align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td align="center" valign="bottom"><font color="#000000"><br></font></td>
		<td align="center" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000">TERMS AND CONDITIONS:</font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000">● Packages and Offer Prices are fixed and cannot be modified</font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000">● Terms of Payment: 90 Days </font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign="bottom"><font color="#000000">● Included in the computation of the raffle</font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
		<td align="left" valign="bottom"><font color="#000000"><br></font></td>
	</tr>
</tbody></table>