<A NAME="table3"><h1><em>TBB OS</em></h1></A>
<table align="left" cellspacing="0" border="0">
	<colgroup width="288"></colgroup>
	<colgroup width="235"></colgroup>
	<colgroup width="156"></colgroup>
	<colgroup width="260"></colgroup>
	<colgroup width="190"></colgroup>
	<colgroup width="237"></colgroup>
	<colgroup width="190"></colgroup>
	<colgroup width="75"></colgroup>
	<colgroup width="61"></colgroup>
	<colgroup width="78"></colgroup>
	<colgroup span="2" width="67"></colgroup>
	<colgroup width="404"></colgroup>
	<colgroup span="3" width="74"></colgroup>
	<colgroup width="98"></colgroup>
	<colgroup span="3" width="97"></colgroup>
	<tr>
		<td height="22" align="left" valign=bottom><b><font size=3 color="#000000">TBB ORDER SHEET</font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>	
	<tr>
		<td height="22" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000">RTA1LHXT71A0A</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000">8.25-20 16PR  XT7 (TTF)-M</font></td>
		<td align="right" valign=bottom sdval="9000" sdnum="1033;"><font size=3 color="#000000">9000</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="32" align="left" valign=bottom><u><font size=5 color="#000000">REBATE PROGRAM: TBB</font></u></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="29" align="left" valign=bottom><b><font size=3 color="#000000">Terms and Conditions:</font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom><b><font size=3 color="#000000">TOTAL PURCHASE IN PCS.</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=bottom><b><font size=3 color="#000000">DISCOUNT</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=bottom><b><font size=3 color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=4 color="#000000">+PLUS SPECIAL PACKAGE: ASSORTED TBB</font></b></td>
		<td align="left" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font size=3 color="#000000">Applicable only for orders booked tonight<br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><b><font size=3 color="#000000">FROM</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><b><font size=3 color="#000000">TO</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font size=3 color="#000000">FEB</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font size=3 color="#000000">MAR</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font size=3 color="#000000">APRIL</font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000">MAY</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000">GET A FREE: </font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-right: 1px solid #000000" colspan=3 rowspan=2 height="43" align="left" valign=bottom><font size=3 color="#000000">REBATES will be issued as Credit Memos after delivery and clearing of checks for this transaction</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="0" sdnum="1033;"><font size=3 color="#000000">0</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="59" sdnum="1033;"><font size=3 color="#000000">59</font></td>
		<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.01" sdnum="1033;0;0.00%"><font size=3 color="#000000">1.00%</font></td>
		<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.01" sdnum="1033;0;0.00%"><font size=3 color="#000000">1.00%</font></td>
		<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.005" sdnum="1033;0;0.00%"><font size=3 color="#000000">0.50%</font></td>
		<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.005" sdnum="1033;0;0.00%"><font size=3 color="#000000">0.50%</font></td>
		<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000"><b><font size=3 color="#000000">TOTAL</font></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="60" sdnum="1033;"><font size=3 color="#000000">60</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="89" sdnum="1033;"><font size=3 color="#000000">89</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.015" sdnum="1033;0;0.00%"><font size=3 color="#000000">1.50%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.01" sdnum="1033;0;0.00%"><font size=3 color="#000000">1.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.01" sdnum="1033;0;0.00%"><font size=3 color="#000000">1.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.01" sdnum="1033;0;0.00%"><font size=3 color="#000000">1.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFC000"><font color="#000000">Samsung Galaxy M31 128GB</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFC000" sdval="200" sdnum="1033;"><font size=3 color="#000000">200</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font size=3 color="#000000">Does not apply to special priced items (i.e. Old DOT etc.) <br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="90" sdnum="1033;"><font size=3 color="#000000">90</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="119" sdnum="1033;"><font size=3 color="#000000">119</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.02" sdnum="1033;0;0.00%"><font size=3 color="#000000">2.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.015" sdnum="1033;0;0.00%"><font size=3 color="#000000">1.50%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.015" sdnum="1033;0;0.00%"><font size=3 color="#000000">1.50%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.01" sdnum="1033;0;0.00%"><font size=3 color="#000000">1.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFC000"><font color="#000000">iPad Air 64Gb</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFC000" sdval="300" sdnum="1033;"><font size=3 color="#000000">300</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="120" sdnum="1033;"><font size=3 color="#000000">120</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="149" sdnum="1033;"><font size=3 color="#000000">149</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.025" sdnum="1033;0;0.00%"><font size=3 color="#000000">2.50%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.02" sdnum="1033;0;0.00%"><font size=3 color="#000000">2.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.015" sdnum="1033;0;0.00%"><font size=3 color="#000000">1.50%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.01" sdnum="1033;0;0.00%"><font size=3 color="#000000">1.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000">IPHONE 12 128GB</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFC000" sdval="400" sdnum="1033;"><font size=3 color="#000000">400</font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000" sdval="150" sdnum="1033;"><font size=3 color="#000000">150</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="center" valign=bottom bgcolor="#FFC000"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.03" sdnum="1033;0;0.00%"><font size=3 color="#000000">3.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.025" sdnum="1033;0;0.00%"><font size=3 color="#000000">2.50%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.02" sdnum="1033;0;0.00%"><font size=3 color="#000000">2.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="0.01" sdnum="1033;0;0.00%"><font size=3 color="#000000">1.00%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><b><i><font size=3 color="#000000">***STANDARD VOLUME DISCOUNTS WILL BE APPLIED DIRECTLY ON DELIVERIES; 30PCS &amp; UP LESS 2%; 50PCS &amp; UP LESS 3%</font></i></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><b><i><u><font size=3 color="#FF0000">EXCEPT FOR ITEMS WITH SPECIAL PRICE OF THE NIGHT</font></u></i></b></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;0;0.00%"><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
		<td align="left" valign=bottom><font size=3 color="#000000"><br></font></td>
	</tr>
    </table>