<html>
  <head>
    <title>OMH</title>
    <meta name="viewport" content="maximum-scale=1, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <style>
      .cards{
        width:200px;
        height:200px;
        border:1px solid grey;
        display:inline-block;
      }

      .profile{
        position:absolute;
        width:200px;
        height:200px;
      }

      .modal{
        width:200px;
        height:200px;
        border:1px solid grey;
      }

    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
