<html>
  <head>
    <title>OMH</title>
    <style>
      .cards{
        width:150px;
        height:200px;
        border:1px solid grey;
        display:inline-block;
      }

      .profile{
        position:absolute;
      }

      .modal{
        width:200px;
        height:200px;
        border:1px solid grey;
      }

    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
