<html>
  <head>
    <title>OMH</title>
    <meta name="viewport" content="maximum-scale=1, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/js/vendor.js"></script>
  	<script src="/js/scripts.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
