<html>
  <head>
    <title>OMH</title>
    <meta name="viewport" content="maximum-scale=1, initial-scale=1" />

    <meta property="og:title" content="One millions Slots" />
    <meta property="og:site_name" content="One millions humans"/>
    <meta property="og:url" content="http://www.myfavnews.com/2013/1/1/workday-price-range" />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/vendor.css" />
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>
    <script src="/js/vendor.js"></script>
  	<script src="/js/scripts.js"></script>
  </head>
  <body>
    {{{body}}}
    <h1 class="main-logo"><a href="/"><img src="/img/one_million_faces_logo.png" alt="One Million Human Faces"/></a></h1>

    <div class="legals-footer">
        <ul>
            <li><a href="#">Copyright</a></li>
            <li><a href="#">Signaler un contenu</a></li>
            <li><a href="#">Se rétracter</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </div>
    <div class="search-bar">
        <form id="form-search" action="#">
            <div class="search-container">
                <div class="search-input-item">
                    <input id="search-field" type="search" placeholder="Rechercher..."/>
                </div>
                <div class="search-input-button">
                    <button class="icon-search"></button>
                </div>
            </div>
            <div class="completion-container">
                <div class="completion-result"></div>
            </div>
        </form>
    </div>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3&appId=350563135133896";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  </body>
</html>
