doctype html
html(lang='en', ng-app='nennesWebite')
	head
		meta(charset='utf-8')
		title Nenn.es personal website
		
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='https://code.angularjs.org/1.4.0-beta.4/angular.min.js')
		link(rel='stylesheet', href='/stylesheets/main.css')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js')
	body
		nav
			ul
				li
					a(href="/") Home
				li
					a(href="/bio") Bio
				li
					a(href="/projects") Projects
				li
					a(href="/blog") Blog
				li
					a(href="/contact") Contact
		block content