<p>Help us out by Sharing/sharing on your wall about OMH or maybe even donate a little something to help the project.</p>
<div class="fb-share-button" data-href="/number/{{data.number}}" data-layout="button"></div>
<a class="twitter-share-button" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Flocalhost:3000%2F{{data.number}}">
  Tweet
</a>
