/* fontello */
@font-face {
	font-family: 'fontello';
	src: url('../fonts/omh.eot?3299786');
	src: url('../fonts/omh.eot?3299786#iefix') format('embedded-opentype'),
	url('../fonts/omh.woff?3299786') format('woff'),
	url('../fonts/omh.ttf?3299786') format('truetype'),
	url('../fonts/omh.svg?3299786#omh2') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'omh2';
    src: url('../font/omh2.svg?3299786#omh2') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-croix:before { content: '\3f'; } /* '?' */
.icon-geek-mouse:before { content: '\41'; } /* 'A' */
.icon-twitter:before { content: '\42'; } /* 'B' */
.icon-login:before { content: '\43'; } /* 'C' */
.icon-caution:before { content: '\44'; } /* 'D' */
.icon-worker-briefcase:before { content: '\45'; } /* 'E' */
.icon-coordinates:before { content: '\46'; } /* 'F' */
.icon-setting_edit:before { content: '\47'; } /* 'G' */
.icon-search:before { content: '\48'; } /* 'H' */
.icon-student:before { content: '\49'; } /* 'I' */
.icon-home:before { content: '\4a'; } /* 'J' */
.icon-user:before { content: '\4b'; } /* 'K' */
.icon-share:before { content: '\4c'; } /* 'L' */
.icon-help:before { content: '\4d'; } /* 'M' */
.icon-facebook:before { content: '\4e'; } /* 'N' */
.icon-undisclosed:before { content: '\4f'; } /* 'O' */
.icon-artist:before { content: '\50'; } /* 'P' */
.icon-circle_arrow_down:before { content: '\51'; } /* 'Q' */
.icon-hype-tie:before { content: '\52'; } /* 'R' */
.icon-circle_close:before { content: '\53'; } /* 'S' */
.icon-explorer-rocket:before { content: '\54'; } /* 'T' */
.icon-scientist:before { content: '\55'; } /* 'U' */
.icon-logout:before { content: '\56'; } /* 'V' */
.icon-arrow_right:before { content: '\58'; } /* 'X' */
.icon-parent:before { content: '\59'; } /* 'Y' */
.icon-athlete-basketball:before { content: '\5a'; } /* 'Z' */
.icon-arrow_left:before { content: '\77'; } /* 'w' */

@font-face {
	font-family: 'montserrat-black';
	src: url('../fonts/montserrat-black-webfont.eot?11626639');
	src: url('../fonts/montserrat-black-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-black-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-black-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-black-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-bold';
	src: url('../fonts/montserrat-bold-webfont.eot?11626639');
	src: url('../fonts/montserrat-bold-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-bold-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-bold-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-bold-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-extrabold';
	src: url('../fonts/montserrat-extrabold-webfont.eot?11626639');
	src: url('../fonts/montserrat-extrabold-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-extrabold-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-extrabold-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-extrabold-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-light';
	src: url('../fonts/montserrat-light-webfont.eot?11626639');
	src: url('../fonts/montserrat-light-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-light-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-light-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-light-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-regular';
	src: url('../fonts/montserrat-regular-webfont.eot?11626639');
	src: url('../fonts/montserrat-regular-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-regular-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-regular-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-regular-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-semibold';
	src: url('../fonts/montserrat-semibold-webfont.eot?11626639');
	src: url('../fonts/montserrat-semibold-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-semibold-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-semibold-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-semibold-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-ultralight';
	src: url('../fonts/montserrat-ultralight-webfont.eot?11626639');
	src: url('../fonts/montserrat-ultralight-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-ultralight-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-ultralight-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-ultralight-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima';
	src: url("../fonts/proxima-regular.woff") format("woff");
}
.font0 {
	font-family: 'montserrat-regular';
}
.invisible{
	overflow: hidden;
	visibility : hidden;
	height : 0px;
}
.canvas {
	position: absolute;
	top: 0px;
}

body{
	margin: 0;
	padding: 0;
	background-color: #000000;
	font-family: 'montserrat-ultralight' !important ;
}

.loading-container {
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	background-color: black;
	z-index: 999;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
}

.cards{
	width:200px;
	height:200px;
	border:1px solid grey;
	display:inline-block;
}

.profile{
	position:absolute;
	width:200px;
	height:200px;
}

.btn.btn-custom-blue {
	color: #fff;
	background-color: #286090;
	border-color: #1a3655;
	z-index: 2;
}

.btn.btn-custom-blue:focus,
.btn.btn-custom-blue:hover {
	color: #fff;
	background-color: #307db6;
	border-color: #234d75;
}

.btn.btn-custom-blue:active {
	color: #fff;
	background-color: #1c4165;
	border-color: #1a3655;
}

/*.modal{
	width:200px;
	height:200px;
	border:1px solid grey;
}*/
.info{
	color:#000;
	font-size:12px;
	position:relative;
	top:20px;
	background:#fff;
	opacity:0.5;
}
.edit-info{
	color:#000;
	font-size:12px;
	position:absolute;
	top:60px;
	background:#fff;
	opacity:0.9;
}
.hide{
	display:none;
}
.scraped-users{
	color:#fff;
	width:400px;
}

.main-logo {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 20px;
	top: 20px;
	background: red;
	width: 100px;
}

.main-logo img {
	width:100%;
}

.legals-footer {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: white;
	background-color: rgba(255,255,255, 0.8);
	height: 1em;
	line-height: 0.8em;
}

.legals-footer ul  {
	padding: 0 10px;
	text-align: left;
	margin: 0;
}

.legals-footer ul li {
	display: inline-block;
	padding: 0 10px;
}

.legals-footer ul li a {
	font-family: 'montserrat-regular';
	font-size: 10px;
	color: #000;
	text-decoration: none;
}

.legals-footer ul li a:hover {
	text-decoration: underline;
}

/* Search bar */
.search-bar {
	position: absolute;
	top: 20px;
	left: 20px;
}

.search-bar .form-control {
	height:28px;
}

.search-bar .input-group {
	width: 15em;
	-webkit-transition: width 0.25s;
	-moz-transition: width 0.25s;
	-ms-transition: width 0.25s;
	-o-transition: width 0.25s;
	transition: width 0.25s;
}

.search-bar #form-search.extended .input-group {
	width: 25em;
}

@media screen and (max-width: 480px){
	.search-bar #form-search.extended .input-group {
		width: 15em;
	}
}

.modal-container .modal-dialog {
  position:absolute;
  top:50% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 5%;
  width:90%;
  height:80%;
}

.modal-container .modal-header {
	background:#1a1a1a;
	font-family:'montserrat-light';
	padding:25px 40px 25px 40px;
	color:#ccc;
	font-size:18px;
}

.modal-container .modal-content {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
	width:500px;
	margin:auto;
	border-radius:0px;
}
.modal-container .modal-body {
  /*position:absolute;
  top:45px;
  bottom:45px;*/
  left:0;
  right:0;
  overflow-y:auto;
	background:#ededed;
}

.modal-login .modal-content{
	height:200px;
}
.modal-login .modal-body{
	height:130px;
}
.modal-login .modal-footer{
	display:none;
}
.modal-container .modal-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

.action-links a{
	font-size:30px;
}

.modal-login .social-links-container{
	margin:auto;
	width:300px;
	padding-top:25px;
}

.modal-login .social-links-container a{
	font-family:'montserrat-light';
	font-size:14px;
	color:#4d4d4d;
}
.modal-login .social-links-container a:before{
	position:relative;
	top:7px;
	font-size:34px;
}
.modal-login .social-links-container a:hover{
	text-decoration:none;
}

.modal-login .social-links-container .icon-twitter{
	margin-left:50px;
}

/***** CHECKBOX *****/
input[type=checkbox] {
  display: none;
}

/*
- Style each label that is directly after the input
- position: relative; will ensure that any position: absolute children will position themselves in relation to it
*/
input[type=checkbox] + label {
  background: url(http://lorempixel.com/output/people-q-c-50-50-1.jpg) no-repeat;
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: all 0.4s;
  border: solid 5px #FFF;
  box-shadow: 0 0 1px #FFF; /* Soften the jagged edge */
}

/* Provide a border when hovered and when the checkbox before it is checked */
input[type=checkbox] + label:hover,
input[type=checkbox]:checked + label {
  border: solid 5px #F00;
  box-shadow: 0 0 1px #F00; /* Soften the jagged edge */
	cursor:pointer;
}

/*
- Create a pseudo element :after when checked and provide a tick
- Center the content
*/
input[type=checkbox]:checked + label:after {
  content: '\2714'; /*content is required, though it can be empty - content: '';*/
  display: block;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: #F00;
}
/********************/

/* Pagination search */
.search-toolbar {
	position: absolute;
	right: 46px;
	top: 1px;
	white-space: nowrap;
	font-size: 12px;
	color: #AAA;
	height: 25px;
	background: white;
	padding: 0 5px;
	display: table;
	z-index: 2;
}

.search-pagination,
.search-pagination-label {
	display: table-cell;
}

.search-reset,
.search-pagination-button-prev,
.search-pagination-button-next {
	display: none;
	cursor: pointer;
}

.search-reset,
.search-pagination-label,
.search-pagination-button-prev,
.search-pagination-button-next {
	height: 100%;
}

.search-reset:before,
.search-pagination-label,
.search-pagination-button-prev:before,
.search-pagination-button-next:before {
	line-height: 2.2em;
}

.search-reset:hover,
.search-pagination-button-prev:hover,
.search-pagination-button-next:hover {
	color:#333;
}

.search-reset.is-active,
.search-pagination-label.is-active,
.search-pagination-button-prev.is-active,
.search-pagination-button-next.is-active {
	display: table-cell;
}

.menu-container{
	padding:5px 10px 5px 10px;
	background:#000;
	opacity: 0.6;
	position: absolute;
	right: 125px;
	top:20px;
}

.menu-container .dropdown-menu{
	min-width:60px;
	width:90px;
	left:-10px;
	background:#000;
	opacity:0.6;
}

.menu-container .dropdown-menu li a{
	color:#cccccc;
	font-size: 14px;
	font-family: 'montserrat-light';
}

.profile-button-login,
.profile-button-edit,
.profile-button-logout {

	color:white;
	font-size: 12px;
	font-family: 'montserrat-light';

}

.profile-button-logout {
	top:70px;
}

.profile-button-login:active,
.profile-button-edit:active,
.profile-button-logout:active,
.profile-button-login:focus,
.profile-button-edit:focus,
.profile-button-logout:focus {
	color:white;
	text-decoration: none;
}

.profile-button-login:hover,
.profile-button-edit:hover,
.profile-button-logout:hover {
	color:white;
	opacity: 0.8;
	text-decoration: none;
}

.alert-container {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
}
/*** IFRAME SHARE ***/
.share-iframe {
    margin: 0;
    padding: 0;
    background: blue; /* this is just to make the frames easier to see */
    border: none;
}

/* typeahead */
.typeahead {
	min-width: 100%;
}

.typeahead.dropdown-menu > li > a {
	padding: 3px 15px;
	white-space: nowrap;
}

.typeahead-item {
	padding:5px 0;
	overflow: hidden;
	display: inline-block;
}

.typeahead-picture {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
}
.typeahead-picture img {
	width: 100%;
	height: 100%;
}

.typeahead-label-wrapper {
	display: inline-block;
	padding-top: 5px;
}

.typeahead-label {
	/*float: left;*/
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 19em;
}

.typeahead-number {
	font-size: 0.75em;
	opacity: 0.5;
}
