/* fontello */
@font-face {
	font-family: 'fontello';
	src: url('../fonts/omh.eot?3299786');
	src: url('../fonts/omh.eot?3299786#iefix') format('embedded-opentype'),
	url('../fonts/omh.woff?3299786') format('woff'),
	url('../fonts/omh.ttf?3299786') format('truetype'),
	url('../fonts/omh.svg?3299786#omh2') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'omh2';
    src: url('../font/omh2.svg?3299786#omh2') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	 font-size: 1.3em;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-croix:before { content: '\3f'; } /* '?' */
.icon-geek-mouse:before { content: '\41'; } /* 'A' */
.icon-twitter:before { content: '\42'; } /* 'B' */
.icon-login:before { content: '\43'; } /* 'C' */
.icon-caution:before { content: '\44'; } /* 'D' */
.icon-worker-briefcase:before { content: '\45'; } /* 'E' */
.icon-coordinates:before { content: '\46'; } /* 'F' */
.icon-setting_edit:before { content: '\47'; } /* 'G' */
.icon-search:before { content: '\48'; } /* 'H' */
.icon-student:before { content: '\49'; } /* 'I' */
.icon-home:before { content: '\4a'; } /* 'J' */
.icon-user:before { content: '\4b'; } /* 'K' */
.icon-share:before { content: '\4c'; } /* 'L' */
.icon-help:before { content: '\4d'; } /* 'M' */
.icon-facebook:before { content: '\4e'; } /* 'N' */
.icon-undisclosed:before { content: '\4f'; } /* 'O' */
.icon-artist:before { content: '\50'; } /* 'P' */
.icon-circle_arrow_down:before { content: '\51'; } /* 'Q' */
.icon-hype-tie:before { content: '\52'; } /* 'R' */
.icon-circle_close:before { content: '\53'; } /* 'S' */
.icon-explorer-rocket:before { content: '\54'; } /* 'T' */
.icon-scientist:before { content: '\55'; } /* 'U' */
.icon-logout:before { content: '\56'; } /* 'V' */
.icon-arrow_right:before { content: '\58'; } /* 'X' */
.icon-parent:before { content: '\59'; } /* 'Y' */
.icon-athlete-basketball:before { content: '\5a'; } /* 'Z' */
.icon-arrow_left:before { content: '\77'; } /* 'w' */

@font-face {
	font-family: 'montserrat-black';
	src: url('../fonts/montserrat-black-webfont.eot?11626639');
	src: url('../fonts/montserrat-black-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-black-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-black-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-black-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-bold';
	src: url('../fonts/montserrat-bold-webfont.eot?11626639');
	src: url('../fonts/montserrat-bold-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-bold-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-bold-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-bold-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-extrabold';
	src: url('../fonts/montserrat-extrabold-webfont.eot?11626639');
	src: url('../fonts/montserrat-extrabold-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-extrabold-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-extrabold-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-extrabold-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-light';
	src: url('../fonts/montserrat-light-webfont.eot?11626639');
	src: url('../fonts/montserrat-light-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-light-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-light-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-light-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-regular';
	src: url('../fonts/montserrat-regular-webfont.eot?11626639');
	src: url('../fonts/montserrat-regular-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-regular-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-regular-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-regular-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-semibold';
	src: url('../fonts/montserrat-semibold-webfont.eot?11626639');
	src: url('../fonts/montserrat-semibold-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-semibold-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-semibold-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-semibold-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-ultralight';
	src: url('../fonts/montserrat-ultralight-webfont.eot?11626639');
	src: url('../fonts/montserrat-ultralight-webfont.eot?11626639#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-ultralight-webfont.woff?11626639') format('woff'),
	url('../fonts/montserrat-ultralight-webfont.ttf?11626639') format('truetype'),
	url('../fonts/montserrat-ultralight-webfont.svg?11626639#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima';
	src: url("../fonts/proxima-regular.woff") format("woff");
}

.font-icon {
		font-family: "fontello";
}

.font0 {
	font-family: 'montserrat-regular';
}
.invisible{
	overflow: hidden;
	visibility : hidden;
	height : 0px;
}
.canvas {
	position: absolute;
	top: 0px;
}

body{
	margin: 0;
	padding: 0;
	background-color: #555555;
	font-family: 'montserrat-light' !important ;
}

.loading-container {
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	background-color: #262626;
	z-index: 999;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:-150px;
	margin-top:-150px;
}

.cards{
	width:200px;
	height:200px;
	border:1px solid grey;
	display:inline-block;
}

.profile{
	position:absolute;
	width:200px;
	height:200px;
}

.btn.btn-custom-blue {
    padding: 12px 12px;
	color: #fff;
	z-index: 2;
	border: 1px solid rgb(100, 100, 100);
	background-color: rgba(0,0,0,0.75);
	border-left: 0;
	padding-left: 0;
	padding-right: 0;
}

.btn.btn-custom-blue:before {
	font-size: 28px;
	line-height: 14px;
}

.btn.btn-custom-blue:focus,
.btn.btn-custom-blue:hover {
	color: black;
	background-color: rgba(204, 204, 204, 0.75);
	border: 1px solid rgb(100, 100, 100);
	border-left:0;
}

.btn.btn-custom-blue:active {
	color: #fff;
	background-color: #303030;
	border: 1px solid rgb(100, 100, 100);
	border-left:0;
}

.btn.btn-black {
	color: #fff;
	z-index: 2;
	border: 1px solid rgb(100, 100, 100);
	background-color: rgba(0,0,0,0.75);
	border-left: 0;
	padding-left: 0;
	padding-right: 0;
	padding: 10px 15px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.btn.btn-black:before {
	font-size: 22px;
	line-height: 14px;
}

.btn.btn-black:focus,
.btn.btn-black:hover {
	color: #fff;
	background-color: #414141;
	border: 1px solid rgb(100, 100, 100);
	border-left:0;
}

.btn.btn-black:active {
	color: #fff;
	background-color: #1a1a1a;
	border: 1px solid rgb(100, 100, 100);
	border-left:0;
}





/*.modal{
	width:200px;
	height:200px;
	border:1px solid grey;
}*/
.info{
	color:#000;
	font-size:12px;
	position:relative;
	top:20px;
	background:#fff;
	opacity:0.5;
}
.edit-info{
	color:#000;
	font-size:12px;
	position:absolute;
	top:60px;
	background:#fff;
	opacity:0.9;
}
.hide{
	display:none;
}
.scraped-users{
	color:#fff;
	width:400px;
}

.main-logo {
	z-index:10;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 150px;
	height:150px;
	opacity: 0.9;
}

.main-logo img {
	width:100%;
}

.legals-footer {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: white;
	background-color: rgba(255,255,255, 0.8);
	height: 1em;
	line-height: 0.8em;
}

.legals-footer ul  {
	padding: 0 10px;
	text-align: left;
	margin: 0;
}

.legals-footer ul li {
	display: inline-block;
	padding: 0 10px;
}

.legals-footer ul li a {
	font-family: 'montserrat-regular';
	font-size: 10px;
	color: #000;
	text-decoration: none;
}

.legals-footer ul li a:hover {
	text-decoration: underline;
}

/* Search bar */
#form-search .form-control {
	background-color: rgba(0, 0, 0, 0.75);
	border: 1px solid rgb(100, 100, 100);
	color: rgb(205, 205, 205);
}

.search-bar {
	position: absolute;
	top: 20px;
	left: 20px;
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0, .2) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .2) !important;
}

.chosen-container-multi .chosen-choices {
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: transparent !important;
    border: 0 !important;
}

.chosen-container-active .chosen-choices {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0, .2) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .2) !important;
}

.search-bar .form-control {
	height:40px;
}

.search-bar .input-group {
	width: 15em;
	-webkit-transition: width 0.25s;
	-moz-transition: width 0.25s;
	-ms-transition: width 0.25s;
	-o-transition: width 0.25s;
	transition: width 0.25s;
}

.search-bar #form-search.extended .input-group {
	width: 25em;
}

.modal-container .modal-dialog {
  position:absolute;
  top:50% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 5%;
  width:90%;
  height:auto;
}

.modal-container .modal-header {
	background:#1a1a1a;
	font-family:'montserrat-light';
	padding:25px 40px 25px 40px;
	color:#ccc;
	font-size:18px;
}

.modal-container .modal-content {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
	max-width:500px;
	margin:auto;
	border-radius:0px;
	border:0;
}
.modal-container .modal-body {
  /*position:absolute;
  top:45px;
  bottom:45px;*/
  left:0;
  right:0;
  background:#ededed;
  height:260px;
}

.img-modal-body{
  max-width: 100%;
  height: auto;
}

.modal-login .modal-content{
	height:200px;
}
.modal-login .modal-body{
	height:130px;
}
.modal-login .modal-footer{
	display:none;
}

.modal-faq .modal-content{
	/*height:300px;*/
}
.modal-faq .modal-body{
	/*height:230px;*/
}
.modal-faq .modal-footer{
	display:none;
}

.modal-abuse .modal-content{
	height:300px;
}
.modal-abuse .modal-body{
	height:230px;
}
.modal-abuse .modal-footer{
	display:none;
}

.modal-copright .modal-content{
	height:300px;
}
.modal-copright .modal-body{
	height:230px;
}
.modal-copright .modal-footer{
	display:none;
}

.modal-retract .modal-content{
	height:300px;
}
.modal-retract .modal-body{
	height:230px;
}
.modal-retract .modal-footer{
	display:none;
}


.modal-container .modal-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

.action-links a{
	font-size:30px;
}

.modal-login .social-links-container{
	margin:auto;
	width:300px;
	padding-top:25px;
}

.modal-login .social-links-container a{
	font-family:'montserrat-light';
	font-size:14px;
	color:#4d4d4d;
}
.modal-login .social-links-container a:before{
	position:relative;
	top:7px;
	font-size:34px;
}
.modal-login .social-links-container a:hover{
	text-decoration:none;
}

.modal-login .social-links-container {
	display: table;
	width:100%;
}

.modal-login .social-links-container .icon-facebook,
.modal-login .social-links-container .icon-twitter{
	display: table-cell;
	text-align: center;
    white-space: nowrap;
}


.modal-login .social-links-container .icon-facebook:focus,
.modal-login .social-links-container .icon-twitter:focus{
	text-decoration: none;
}

.modal-login .social-links-container .icon-twitter{
    padding-right: 20px;
}

/***** CHECKBOX *****/
input[type=checkbox] {
  display: none;
}

/*
- Style each label that is directly after the input
- position: relative; will ensure that any position: absolute children will position themselves in relation to it
*/
input[type=checkbox] + label {
  /*background: url(http://lorempixel.com/output/people-q-c-50-50-1.jpg) no-repeat;*/
  /*height: 50px;*/
  /*width: 50px;*/
  /*display: inline-block;*/
  /*border-radius: 50%;*/
  /*position: relative;*/
  /*transition: all 0.4s;*/
  /*border: solid 5px #FFF;*/
  /*box-shadow: 0 0 1px #FFF; /!* Soften the jagged edge *!/*/
	background-repeat: no-repeat;
	margin-top:5px;
}

/* Provide a border when hovered and when the checkbox before it is checked */
input[type=checkbox] + label:hover,
input[type=checkbox]:checked + label {
  /*border: solid 5px #F00;*/
  /*box-shadow: 0 0 1px #F00; /!* Soften the jagged edge *!/*/
	opacity:0.7;
	cursor:pointer;
}

input[type=checkbox]:checked + label {
	opacity: 0.5;
}
/*
- Create a pseudo element :after when checked and provide a tick
- Center the content
*/
input[type=checkbox]:checked + label:after {
  /*content: '\2714'; /!*content is required, though it can be empty - content: '';*!/*/
  /*display: block;*/
  /*height: 1em;*/
  /*width: 1em;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*margin: auto;*/
  /*color: #F00;*/
}
/********************/

/* Pagination search */
.search-toolbar {
	position: absolute;
	right: 36px;
	top: 1px;
	white-space: nowrap;
	font-size: 12px;
	color: rgb(205, 205, 205);
	height: 25px;
	padding: 0 5px;
	display: table;
	z-index: 2;
}

.search-pagination,
.search-pagination-label {
	display: table-cell;
}

.search-reset,
.search-pagination-button-prev,
.search-pagination-button-next {
	display: none;
	cursor: pointer;
}

.search-reset,
.search-pagination-label,
.search-pagination-button-prev,
.search-pagination-button-next {
	height: 100%;
}

.search-reset:before,
.search-pagination-label,
.search-pagination-button-prev:before,
.search-pagination-button-next:before {
	line-height: 40px;
	font-size: 19px;
}

.search-pagination-label {
	font-size: 16px;
}

.search-reset:hover,
.search-pagination-button-prev:hover,
.search-pagination-button-next:hover {
	color:white;
}

.search-reset.is-active,
.search-pagination-label.is-active,
.search-pagination-button-prev.is-active,
.search-pagination-button-next.is-active {
	display: table-cell;
}

.menu-container{
	z-index: 10;
    width: 100px;
	background:#000;
	opacity: 0.6;
	position: absolute;
	right: 175px;
	top:20px;
	-webkit-transition:0.25s;
	-moz-transition:0.25s;
	-ms-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

.menu-container:hover {
	opacity: 0.75;
}

.menu-container .dropdown-menu{
	min-width:60px;
	width:90px;
	left:-10px;
	background:#000;
}

.menu-container .dropdown-menu li a{
	color:#cccccc;
	font-size: 14px;
	font-family: 'montserrat-light';
}

.profile-button-login,
.profile-button-edit,
.profile-button-logout {
    margin: 5px 10px;
    display: inline-block;
    width: 100px;

	color:white;
	font-size: 14px;
	font-family: 'montserrat-light';

}

.profile-button-logout {
	top:70px;
}

.profile-button-login:active,
.profile-button-edit:active,
.profile-button-logout:active,
.profile-button-login:focus,
.profile-button-edit:focus,
.profile-button-logout:focus {
	color:white;
	text-decoration: none;
}

.profile-button-login:hover,
.profile-button-edit:hover,
.profile-button-logout:hover {
	color:white;
	opacity: 0.8;
	text-decoration: none;
}

.alert-container {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
}
/*** IFRAME SHARE ***/
.share-iframe {
    margin: 0;
    padding: 0;
    background: blue; /* this is just to make the frames easier to see */
    border: none;
}

/* typeahead */
.typeahead {
	min-width: 100%;
}

.typeahead.dropdown-menu > li > a {
	padding: 3px 15px;
	white-space: nowrap;
}

.typeahead-item {
	padding:5px 0;
	overflow: hidden;
	display: inline-block;
}

.typeahead-picture {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
}
.typeahead-picture img {
	width: 100%;
	height: 100%;
}

.typeahead-label-wrapper {
	display: inline-block;
	padding-top: 5px;
}

.typeahead-label {
	/*float: left;*/
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 19em;
}

.typeahead-number {
	font-size: 0.75em;
	opacity: 0.5;
}

.typeahead.dropdown-menu {
	background:rgba(0, 0, 0, 0.75);
}

.typeahead.dropdown-menu > .active > a,
.typeahead.dropdown-menu > .active > a:hover,
.typeahead.dropdown-menu > .active > a:focus{
	background: rgba(204, 204, 204, 0.75);
	color: black;
}

.typeahead.dropdown-menu > li > a{
	color: #cccccc;
	font-size: 14px;
	font-family: 'montserrat-light';
}

/** MOBILE **/
@media only screen and (max-width: 640px){
	.modal-container .modal-body {
		padding:20px 40px;
	}

	#scrollLoader .loading {
	    margin-left: -75px;
	    margin-top: -100px;
	    width: 50%;
	}

	.search-bar .input-group {
		width: 12em;
	}

	.modal-login .social-links-container .icon-twitter {
		margin-left: 20px;
	}

	.search-bar .search-pagination {
		display: none;
	}

	.search-bar .typeahead.dropdown-menu {
		width: 280px;
	}

	.search-bar #form-search.extended .input-group {
		width: 12em;
	}

	.main-logo {
		width: 100px;
		height:100px;
	}


	.menu-container {
		width: 100px;
		top: 125px;
    	right: 20px;
	}

	.legals-footer ul li a {
		font-size: 8px;
	}
}

.modal-content {
	border:0;
}

/** flags **/
.ico-undisclosed {
	background: url('../img/lang/UNDISCLOSED.png');
}

.ico-arabic {
	background: url('../img/lang/AR.png');
}

.ico-german {
	background: url('../img/lang/DE.png');
}

.ico-english {
	background: url('../img/lang/EN.png');
}

.ico-spain {
	background: url('../img/lang/ES.png');
}

.ico-french {
	background: url('../img/lang/FR.png');
}

.ico-indonesian {
	background: url('../img/lang/IN.png');
}

.ico-italian {
	background: url('../img/lang/IT.png');
}

.ico-japanese {
	background: url('../img/lang/JP.png');
}

.ico-korean {
	background: url('../img/lang/KR.png');
}

.ico-portuguese {
	background: url('../img/lang/PT.png');
}

.ico-thai {
	background: url('../img/lang/TH.png');
}

.ico-turkish {
	background: url('../img/lang/TU.png');
}

.ico-russian {
	background: url('../img/lang/RU.png');
}

/** EDIT HUMAN **/
#modal-edit {}

#modal-edit .input-group.input-group {
	margin-top:10px;
}

#modal-edit .input-group.input-group.no-border {
	border:0;
}

.edit-human {}

#modal-view .modal-content,
#modal-edit .modal-content {
	position: relative;
	background: #ededed;
}

@media only screen and (max-width:768px){
	#modal-edit .modal-content {
		width: 400px;
	}
}

#modal-edit .modal-footer {
	position: relative;
	text-align: center;
	border: 0;
	margin:0;
}

#modal-view .row {
	padding-bottom: 5px;
	margin-top: 15px;
	border-bottom: 1px solid #666666;
}

#modal-view .col-xs-1,
#modal-view .col-xs-2,
#modal-view .col-xs-3,
#modal-view .col-xs-4,
#modal-view .col-xs-5,
#modal-view .col-xs-6,
#modal-view .col-xs-7,
#modal-view .col-xs-8,
#modal-view .col-xs-9,
#modal-view .col-xs-10,
#modal-view .col-xs-11,
#modal-view .col-xs-12 {
	margin-left:0;
	padding-left: 0;
	padding-right: 30px;
}

#modal-view .flags {
	width: 25px;
	margin-right:5px;
}

#modal-view .socials-wrapper .fb-share-button,
#modal-view .socials-wrapper .twitter-share-button {
	color:transparent;
}

#modal-view .socials-wrapper .twitter-share-button {
	text-indent: -99999em;
}

#modal-view .socials-wrapper {
	margin-top: 15px;
}

.edit-human .input-group {
	width: 100%;
	border-bottom: 1px solid #d5d5d5;
}

.edit-human .input-group-addon {
	border:0;
	width:130px;
	text-align: left;
	padding: 12px 0 6px;
}

.edit-human .form-control {
	border:0;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 6px 12px 0;
}

.chosen-container-multi .chosen-choices .search-field .default {
	min-width: 200px !important;
}

.modal-header .close:hover {
	color:white;
	opacity: 0.8;
}

.modal-header .close {
	color:white;
	text-shadow:none;
	opacity: 0.6;
    font-size: 31px;
    line-height: 22px;
}

#dropdownMenu1 {
	border: 0;
	background: transparent;
	color: white;
}

.ellipsis {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-wrap {
	white-space: nowrap;
}

/** ANIMATION **/
.anim-wizz{
  animation: animWizz linear 0.25s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animWizz linear 0.25s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animWizz linear 0.25s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animWizz linear 0.25s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animWizz linear 0.25s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes animWizz{
  0% {
    color:  red  ;
    transform:  translate(0px,0px)  ;
  }
  22% {
    transform:  translate(5px,0px)  ;
  }
  40% {
    transform:  translate(-5px,0px)  ;
  }
  57% {
    transform:  translate(5px,0px)  ;
  }
  71% {
    transform:  translate(-5px,0px)  ;
  }
  86% {
    transform:  translate(5px,0px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animWizz{
  0% {
    color:  red  ;
    -moz-transform:  translate(0px,0px)  ;
  }
  22% {
    -moz-transform:  translate(5px,0px)  ;
  }
  40% {
    -moz-transform:  translate(-5px,0px)  ;
  }
  57% {
    -moz-transform:  translate(5px,0px)  ;
  }
  71% {
    -moz-transform:  translate(-5px,0px)  ;
  }
  86% {
    -moz-transform:  translate(5px,0px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animWizz {
  0% {
    color:  red  ;
    -webkit-transform:  translate(0px,0px)  ;
  }
  22% {
    -webkit-transform:  translate(5px,0px)  ;
  }
  40% {
    -webkit-transform:  translate(-5px,0px)  ;
  }
  57% {
    -webkit-transform:  translate(5px,0px)  ;
  }
  71% {
    -webkit-transform:  translate(-5px,0px)  ;
  }
  86% {
    -webkit-transform:  translate(5px,0px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animWizz {
  0% {
    color:  red  ;
    -o-transform:  translate(0px,0px)  ;
  }
  22% {
    -o-transform:  translate(5px,0px)  ;
  }
  40% {
    -o-transform:  translate(-5px,0px)  ;
  }
  57% {
    -o-transform:  translate(5px,0px)  ;
  }
  71% {
    -o-transform:  translate(-5px,0px)  ;
  }
  86% {
    -o-transform:  translate(5px,0px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animWizz {
  0% {
    color:  red  ;
    -ms-transform:  translate(0px,0px)  ;
  }
  22% {
    -ms-transform:  translate(5px,0px)  ;
  }
  40% {
    -ms-transform:  translate(-5px,0px)  ;
  }
  57% {
    -ms-transform:  translate(5px,0px)  ;
  }
  71% {
    -ms-transform:  translate(-5px,0px)  ;
  }
  86% {
    -ms-transform:  translate(5px,0px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}

/*FAQ*/
.faqHeader {
font-size: 27px;
margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
font-family: 'Glyphicons Halflings';
content: "^"; /* "play" icon */
float: right;
color: #F58723;
font-size: 18px;
line-height: 22px;
/* rotate "play" icon from > (right arrow) to down arrow */
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
color: #454444;
}

.dropdown {
    margin: 5px 10px;
}

.open > .dropdown-menu {
    width: 100px;
}

.modal-controls-left-arrow,
.modal-controls-right-arrow {
	position: absolute;
	width:20px;
	height:100%;
	top:0;
	left:0;
	padding-top: 150px;
	text-align: center;
	cursor:pointer;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.modal-controls-right-arrow {
	right:0;
	left:auto;
}

#scrollLoader {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}