body {
	background-color: #00133f;
	color: white;
}

nav, #mainContent {
	max-width: 1480px;
	width: 100%;
	margin: 0 auto;
}
nav {
	display: table;
	font-family: 'Poiret One' ;
	position: fixed;
	top: 0;
	background-color: #00133f;
	height: 60px;
}
nav ul {
	display: table-row;
}

nav ul li {
	display: table-cell;
	text-align: center;
	padding: 10px 0; 
}
nav ul li a{
	color: white;
	font-size: 2rem;
	text-decoration: none;
}

nav ul li.active a{
	color: yellow;
}

#mainContent section{
	padding-top: 60px;
}


