<div class="modal modal-retract fade" id="modal-retract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title" id="myModalLabel">Retract</h4>
	        </div>
        	<div class="modal-body">
						To retract, remove content on your profile, please send us an email to retract@onemillionhumans.com
					</div>
			</div>
		</div>
	</div>
