
<head>
  <% include ../partials/header.ejs %>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

<canvas id="myChart" width="400" height="400"></canvas>
<div id="sla"></div>
<script>
	var data = <%- JSON.stringify(eventData) %>;
	var timeToClose = []
	var date = []
	var key = []
	var ids = []
	for (var i = 0; i < data.length; i++) {
		timeToClose.push((parseInt(data[i].timetoclose)/1000)/60)
		thisDate = (data[i].date).substring(0, 16)
		date.push(thisDate)
		key.push(i)
		ids.push(data[i].order_id)
	}
	
	
var obj = {};
function createDateTimeObj() {

	for(var i=0;i<key.length;i++) {
	    obj[key[i]] = {
	        date: date[i].substring(0, 10),
	        time: timeToClose[i]
	    }
	}
return obj
}


function avgTimePerDay(thisDate) {
var total = 0.0
var count = 0

	for (var i = 0; i < key.length; i++) {
		if (obj[i].date == thisDate)
			total = total + obj[i].time;
			count = count + 1;
	}
	
return total/count	
}
createDateTimeObj()

today = new Date();
todayDate = today.getFullYear() +"-0"+ (today.getMonth()+1)+"-"+today.getDate()
last5Days = []
for (var i = 0; i < 5; i++) {
	last5Days[i] = today.getFullYear() +"-0"+ (today.getMonth()+1)+"-"+(today.getDate() -i)
	}




	

	var sla = document.getElementById("sla");
	sla.innerHTML = "<div class='card bg-light mb-3'><div class='card-body'><h2>Average time to complete an order: </h2> <ul><li><strong>Today</strong>: "+Math.round(avgTimePerDay(last5Days[0]))+" minutes</li><li><strong>Yesterday</strong>: "+Math.round(avgTimePerDay(last5Days[1]))+" minutes</li><li><strong>"+last5Days[2]+"</strong> : "+Math.round(avgTimePerDay(last5Days[2]))+" minutes</li><li><strong>"+last5Days[3]+"</strong> :  "+Math.round(avgTimePerDay(last5Days[3]))+" minutes</li><li><strong>"+last5Days[4]+"</strong> : "+Math.round(avgTimePerDay(last5Days[4]))+" minutes</li></ul></div></div>";
	
	
function createLabel(array1, array2){
var array3 = []
	for (var i = 0; i < array1.length; i++) {
		array3[i] = array1[i] +" ID: "+ array2[i] 
	}
	return array3
}	
	
	var ctx = document.getElementById('myChart');		
	var myChart = new Chart(ctx, {
	    type: 'line',
	    data: {
	        labels: createLabel(date,ids),
	        datasets: [{
	            label: 'time to close',
	            data: timeToClose,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 1
	        },
			{
	            label: 'order id',
	            data: ids,
				hidden: true,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true
	                }
	            }]
	        }
	    }
	});
</script>