<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

 <h4>Software Engineering Evidence Repository</h4> &nbsp;&nbsp;&nbsp;<a href="Register.html" target="_blank">Register</a>
    &nbsp;&nbsp;&nbsp;<a href="Login.html" target="_blank">Sign In</a> &nbsp;&nbsp;&nbsp;<a href="https://seerback.herokuapp.com/" target="_blank">Submit</a>
 <% include ../partials/1.js %>
</body>
</html>
