<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="box">
    <h4>Software Engineering Evidence Repository</h4> &nbsp;&nbsp;&nbsp;<a href="https://register111.herokuapp.com/" target="_blank">Register</a>
    &nbsp;&nbsp;&nbsp;<a href="https://signin11.herokuapp.com/" target="_blank">Sign In</a>
    &nbsp;&nbsp;&nbsp;<a href="https://tte1.herokuapp.com/" target="_blank">Moderator Login</a>
</div>
<div>
    <input type="text" id="txt">
    <button type="button" id="btn">Search</button>
    <ul id="list">
 
    </ul>
</div>
<script>
    /**
     * Created by Steven on 2016-10-25.
     */
    var oTxt = document.getElementById('txt');
    var oBtn = document.getElementById('btn');
    var oList = document.getElementById('list');
 
    var fruits = ["article{Janzen:2008fx, "+
                "author = {{Janzen, D S} and {Saiedian, H}}, "+
                "title = {{Does Test-Driven Development Really Improve Software Design Quality?}}"+
                "journal = {Software, IEEE}, "+
                "year = {2008}, "+
                "volume = {25}, "+
                "number = {2}, "+
                "pages = {77--84}}","article{Aniche:er, "+
                "author = {Aniche, M F and Testing, MA Gerosa Software, year = {2010}, "+
                "title = {{Most common mistakes in test-driven development practice: Results from an online survey with developers}}, "+
                "journal = {ieeexplore.ieee.org}","article{2019arXiv190712290R, "+
                "author = {Romano, Simone and Fucci, Davide and Baldassarre, Maria Teresa and Caivano, Danilo and Scanniello, Giuseppe}, "+
                "title = {{An Empirical Assessment on Affective Reactions of Novice Developers when Applying Test-Driven Development}}, "+
                "journal = {arXiv.org}, "+
                "year = {2019}, "+
                "eprint = {1907.12290}, "+
                "eprinttype = {arxiv}, "+
                "eprintclass = {cs.SE}, "+
                "pages = {arXiv:1907.12290}, "+
                "month = jul, "+
                "annote = {Accepted for publication at the 20th International Conference on Product-Focused Software Process Improvement (PROFES19)}}", "article{Geras:wd, "+
                "author = {Geras, A and Smith, M and on, J Miller 10th International Symposium and {2004}}, "+
                "title = {{A prototype empirical evaluation of test driven development}}, "+
                "journal = {ieeexplore.ieee.org}}","article{Nagappan:ty, "+
"author = {Nagappan, N and Maximilien, E M and Software, T Bhat Empirical and {2008}}, "+
"title = {{Realizing quality improvement through test driven development: results and experiences of four industrial teams}}, "+
"journal = {Springer}}","article{Janzen:wl, "+
"author = {Janzen, D and Software, H Saiedian Ieee and {2008}}, "+
"title = {{Does test-driven development really improve software design quality?}}, "+
"journal = {ieeexplore.ieee.org}}","article{Williams:wl, "+
"author = {Williams, L and Software, EM Maximilien Symposium on and {2003}}, "+
"title = {{Test-driven development as a defect-reduction practice}}, "+
"journal = {ieeexplore.ieee.org}}","article{Munir:2014wg, "+
"author = {Munir, Hussan and Wnuk, Krzysztof and Petersen, Kai and Moayyed, Misagh}, "+
"title = {{An experimental evaluation of test driven development vs. test-last development with industry professionals.}}, "+
"journal = {EASE}, "+
"year = {2014}}","article{Maximilien:fq, "+
"author = {Maximilien, E M and on, L Williams 25th International Conference and {2003}}, "+
"title = {{Assessing test-driven development at IBM - IEEE Conference Publication}}, "+
"journal = {ieeexplore.ieee.org}}","article{Parodi:2016wg, "+
"author = {Parodi, Eugenia and Matalonga, Santiago and Macchi, Dario and Solari, Mart}, "+
"title = {{Comparing technical debt in student exercises using test driven development, test last and ad hoc programming.}}, "+
"journal = {CLEI}, "+
"year = {2016}","article{Tosun:2018ww, "+
"author = {Tosun, Ayse and Ahmed, Muzamil and Turhan, Burak and Juristo, Natalia}, "+
"title = {{On the effectiveness of unit tests in test-driven development.}}, "+
"journal = {ICSSP}, "+
"year = {2018}}","article{Choma:2019wa, "+
"author = {Choma, Joelma and Guerra, Eduardo M and da Silva, Tiago Silva and Albuquerque, Thomas and Albuquerque, Vanessa G and Zaina, Luciana Martinez}, "+
"title = {{An Empirical Study of Test-Driven Development vs. Test-Last Development Using Eye Tracking.}}, "+
"journal = {WBMA}, "+
"year = {2019}}","article{Anonymous:2001vd, "+
"title = {{Test-driven development as a defect-reduction practice - Software Reliability Engineering, 2003. ISSRE 2003. 14th International Symposium on}}, "+
"year = {2001}, "+
"pages = {1--12}, "+
"month = aug}","book{Bain:2016tw, "+
"author = {Bain, Scott and Kolsky, Amir}, "+
"title = {{Sustainable Test-Driven Development}}, "+
"publisher = {Addison-Wesley Professional}, "+
"year = {2016}, "+
"month = mar}","article{Dell:2003wa, "+
"author = {{Dell, New}}, "+
"title = {{Implications of Test-Driven Development A Pilot Study}}, "+
"year = {2003}, "+
"pages = {1--2}, "+
"month = aug}","article{Canfora:2006vr, "+
"author = {{Canfora, Gerardo} and {Cimitile, Aniello} and {Garcia, Felix} and {Piattini, Mario} and {Visaggio, and Corrado Aaron}}, "+
"title = {{LNCS 4034 - Productivity of Test Driven Development: A Controlled Experiment with Professionals}}, "+
"year = {2006}, "+
"pages = {1--6}, "+
"month = apr}","article{Anonymous:2006um, "+
"title = {{Evaluating the Efficacy of Test-Driven Development: Industrial Case Studies}}, "+
"year = {2006}, "+
"pages = {1--8}, "+
"month = jul}","article{Anonymous:2007ww, "+
"title = {{A Leveled Examination of Test-Driven Development Acceptance}}, "+
"year = {2007}, "+
"pages = {1--4}, "+
"month = jan}","article{Anonymous:2006va, "+
"title = {{On the Influence of Test-Driven Development on Software Design}}, "+
"year = {2006}, "+
"pages = {1--8}, "+
"month = mar}","article{2020arXiv200407524R, "+
"author = {Romano, Simone and Scanniello, Giuseppe and Baldassarre, Maria Teresa and Fucci, Davide and Caivano, Danilo}, "+
"title = {{Results from a replicated experiment on the affective reactions of novice developers when applying test-driven development}}, "+
"journal = {arXiv.org}, "+
"year = {2020}, "+
"eprint = {2004.07524},"+
"eprinttype = {arxiv}, "+
"eprintclass = {cs.SE}, "+
"pages = {arXiv:2004.07524}, "+
"month = apr, "+
"annote = {XP2020}}","article{2017arXiv171105082S, "+
"author = {Siniaalto, Maria and Abrahamsson, Pekka}, "+
"title = {{A Comparative Case Study on the Impact of Test-Driven Development on Program Design and Test Coverage}}, "+
"journal = {arXiv.org}, "+
"year = {2017}, "+
"eprint = {1711.05082}, "+
"eprinttype = {arxiv}, "+
"eprintclass = {cs.SE}, "+
"pages = {arXiv:1711.05082}, "+
"month = nov, "+
"annote = {This is author's version of the published paper. The copyright holder's version is accessible at http://ieeexplore.ieee.org/abstract/document/4343755/}}"];
    //点击事件
    oBtn.addEventListener('click', function(){
        var keyWord = oTxt.value;
        // var fruitList = searchByIndexOf(keyWord,fruits);
        console.log(fruitList);
        var fruitList = searchByRegExp(keyWord, fruits);
        renderFruits(fruitList);
    }, false);
    //回车查询
    oTxt.addEventListener('keydown', function(e){
        if(e.keyCode == 13){
            var keyWord = oTxt.value;
            // var fruitList = searchByIndexOf(keyWord,fruits);
            var fruitList = searchByRegExp(keyWord, fruits);
            renderFruits(fruitList);
        }
    }, false);
    var cpLock = false;
    $('#txt').on('compositionstart', function () {
        cpLock = true;
        console.log("不搜索")
    });
    $('#txt').on('compositionend', function () {
        cpLock = false;
        console.log("汉字搜索");
        var keyWord = oTxt.value;
        // var fruitList = searchByIndexOf(keyWord,fruits);
        var fruitList = searchByRegExp(keyWord, fruits);
        renderFruits(fruitList);
    });
    $('#txt').on('input', function () {
        if (!cpLock) {
            console.log("字母搜索")
            var keyWord = oTxt.value;
            // var fruitList = searchByIndexOf(keyWord,fruits);
            var fruitList = searchByRegExp(keyWord, fruits);
            renderFruits(fruitList);
        }
    });
    function renderFruits(list){
        if(!(list instanceof Array)){
            return ;
        }
        oList.innerHTML = '';
        var len = list.length;
        var item = null;
        for(var i=0;i<len;i++){
            item = document.createElement('li');
            item.innerHTML = list[i];
            oList.appendChild(item);
        }
    }
    //模糊匹配的时候如果不区分大小写，可以使用toLowerCase()或者toUpperCase()转换之后去匹配。
 
    //模糊查询1:利用字符串的indexOf方法
    function searchByIndexOf(keyWord, list){
        if(!(list instanceof Array)){
            return ;
        }
        var len = list.length;
        var arr = [];
        for(var i=0;i<len;i++){
            //如果字符串中不包含目标字符会返回-1
            if(list[i].indexOf(keyWord)>=0){
                arr.push(list[i]);
            }
        }
        return arr;
    }
    //正则匹配
    function searchByRegExp(keyWord, list){
        if(!(list instanceof Array)){
            return ;
        }
        var len = list.length;
        var arr = [];
        var reg = new RegExp(keyWord);
        for(var i=0;i<len;i++){
            //如果字符串中不包含目标字符会返回-1
            if(list[i].match(reg)){
                arr.push(list[i]);
            }
        }
        return arr;
    }
    renderFruits(fruits);
</script>
</body>
</html>
