<%- include ("../partials/header.ejs") %>

<body>
  <%- include ("../partials/nav.ejs") %>
  <div id="home">
    <div class="container">
        <div class="row justify-content-center align-items-end">
            <div class="col-12 col-md-10 mt-5 mb-3">
                <h2>"RALIS, BORN FROM COMPETITION"</h2>
                <p>
                    Ralis is a servicing company made up of a dynamic group of talented individuals, who share a high-powered drive coupled with an acute understanding of how the future impacts the present. The Ralis team’s fluid collaboration with clients
                    makes their development and design visions for business a reality.
                </p><a href="#marketing" class="btn btn-outline my-sm-5 mb-3 mt-4">Services We Offer</a>
                <div class="col-12"><img src="/images/arrow.png"></div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 id="marketing" class="title">Marketing</h2>
            <div class="row justify-content-end">
                <div class="col-11">
                    <p>
                        Ralis provides strategic planning to bring our client's branding and design visions into reality. We deliver overall marketing strategies with detailed execution, reporting, and success analysis with measurable ROIs. Implementing
                        effective marketing strategies that ensure brand consistency and compliance is a challenge that we embrace.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="/images/card.png" class="img-fluid" alt="brand identity, marketing design, content and copyrighting, large format/outdoor advertising, user experience and user interface design, motion graphics, video production & editing">
            <img src="/images/pen.png" class="img-fluid"
                 alt="web development, mobile design, custom development, application development, application reverse engineering, application course correction, enterprise development, data scheme, cloud development, business intelligence.">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 align-self-start order-2 order-sm-1"><img src="/images/ralis-phone.png" class="img-fluid phone"></div>
        <div class="col-12 col-md-6 order-1 order-sm-1">
            <h2 class="title">Creative</h2>
            <div class="row justify-content-center">
                <div class="col-10">
                    <p>
                        Ralis believes the pairing of cutting edge design and fluid usability is a key factor in surpassing business goals. We utilize designs through seamless interactive programs to specifically engage the customers our clients are seeking.
                        This is accomplished by using the most advanced technologies to supercharge our client’s brand.
                    </p>
                </div>
            </div>
            <hr class="divide">
            <h2 class="title">Development & Programming</h2>
            <div class="row justify-content-end">
                <div class="col-11">
                    <p>
                        From building a reliable intranet to cloud development, Ralis understands that the inner workings of a company are vital to the life of the business. This drives the teams’ attention to detail and commitment to our clients’
                        satisfaction -- above and beyond the size of the job.
                    </p>
                </div>
            </div>
            <hr class="divide">
        </div>
    </div>
  </div>
  
  <div class="gray-bg py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 my-4 my-sm-0">
                <h2 class="title">Human Resources</h2>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <p>
                            A business in pursuit of excellence requires talented employees hard-wired to do the same. Finding the right people can pull time away from running the business. That’s why Ralis has a client-focused approach to recruiting
                            exceptional talent as well as other HR matters.
                        </p>
                        <ul class="services-points">
                            <li>Employee Administration</li>
                            <li>Payroll Processing and Administration</li>
                            <li>Benefits Management</li>
                            <li>Worker’s Compensation and other HR Concerns</li>
                            <li>Training and Development</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-none d-sm-block"><img src="/images/ralis-hr-image.png" class="img-fluid"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6 d-none d-sm-block"><img src="/images/ralis-accounting.png" class="img-fluid"></div>
            <div class="ccol-12 col-md-6 my-4 my-sm-0">
                <h2 class="title">Accounting</h2>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <p>
                            As is the case with all businesses, the books tell the story. The more accurate and organized those accounting books are, the more informed an owner can be when making critical decisions like expansions, mergers, and acquisitions.
                        </p>
                        <ul class="services-points accounting-points-wrap">
                            <li>Financial Statement Preparations</li>
                            <li>Statements of Financial Position</li>
                            <li>Statements on Comprehensive Income</li>
                            <li>Cash Flow Statements</li>
                            <li>Treasury Optimization</li>
                            <li>Data on Efficiency, Liquidity, Solvency, and Profitability</li>
                            <li>Compliance: Tax, GAAP, Sales Tax, Use Tax, and Audit Assistance</li>
                            <li>Accounts Receivable (AR) and Payable (AP)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6 my-4 my-sm-06">
                <h2 class="title">Risk Management & Compliance</h2>
                <div class="row justify-content-end">
                    <div class="col-11">
                        <p>It is incumbent for business owners to protect the company from litigation by complying with labor laws and risk management. Ralis can offer seamless support in those areas.</p>
                        <ul class="services-points">
                            <li>Enterprise Risk Governance</li>
                            <li>Mergers & Acquisitions</li>
                            <li>Reputation, Government, and Regulatory Strategy</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-none d-sm-block"><img src="/images/ralis-risk.png" class="img-fluid"></div>
        </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row justify-content-center align-items-end">
        <div class="col-12 col-md-10 mt-5 text-center">
            <a href="#contact" class="btn btn-outline-dark mt-5">Questions? Contact Us</a>
            <div class="col-12 mt-3 mb-4 pb-1"><img src="/images/arrow-black.png"></div>
        </div>
    </div>
  </div>
  <%- include ("../partials/footer.ejs") %>
</body>
</html>
