<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/bio-pic.png">
    </a>
    <h1>Jordo's Site</h1>
    <p>Welcome to my site!</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/joor-jordanb"><span class="glyphicon glyphicon-link"></span> View my Github</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To contact me with any work opportunities, see <a href="https://www.linkedin.com/in/jordanbuzzell/" class="alert-link"> my LinkedIn</a>.
  </div>
  <hr>
</div>

</body>
</html>
