<!DOCTYPE html>
<html>
<head>
  <title>Subdomain Takeover by @remonsec</title>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Subdomain Takeover By @remonsec</h1>
    <p>This is my Subdomain Takeover POC</p>
  </div>
</div>
</body>
</html>
