<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <form id="studentDetails" action="/index" name="register" method="POST">
          <input type="text" name="username" id="username"placeholder="Login id" ></br></br>
          <input type="text" name="password" id = "password"placeholder="Password"></br></br> &nbsp;&nbsp;
          <input type="hidden" id="action" name="action">&nbsp; &nbsp;
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="#" onclick="login();formSubmit('gotoDashboard')">Login</a></li>
                  <li><a href="#" onclick="formSubmit('gotoSignup')">SignUp</a></li>
                  <li><a href="#" onclick="formSubmit('getusers')">Get users</a></li>
              </ul>
          </div>
      </form>             
  </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
</body>
</html>
