<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Subdomain Takeover By @rmeonsec</h1>
    <p>This is my Subdomain Takeover POC</p>
  </div>
</div>
</body>
</html>
