<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

 <h4>Software Engineering Evidence Repository</h4> &nbsp;&nbsp;&nbsp;<a href="Register.html" target="_blank">Register</a>
    &nbsp;&nbsp;&nbsp;<a href="Login.html" target="_blank">Sign In</a>
    <table width="500" border="1">
        <tr>
            <td>Description</td>
            <td><input type="text"></td>
            <td><a href="https://seerback.herokuapp.com/" target="_blank">Search</a></td>
        </tr>
        <!-- the second row -->
        <tr>
            <td>Date range from</td>
           <td>
               <input id="date" type="date">  
           </td>
           <td>to</td>
           <td><input id="date" type="date"></td>
        </tr>
        <tr>
            <td>If</td>
            <td>
                <select>
                    <option>--Name of Field--</option>
                    <option>Article title</option>
                    <option>Author</option>
                    <option>Year</option>
                </select>
            </td>
            <td>
                <select>
                    <option>--Operator--</option>
                    <option>contains</option>
                    <option>does not cotain</option>
                    <option>begins with</option>
                    <option>ends with</option>
                    <option>is equal to</option>
                </select>
            </td>
            <td>
                <input type="text" value="Value">
            </td>
        </tr>

    </table>
    <table width="500" border="1">
        <tr>
            <td>Your result</td>
        </tr>
        <!-- the second row -->
        <tr>
           <td>Author</td>
           <td>Title </td>
           <td>Journal</td>
           <td>Year</td>
        </tr>
        <tr>
            <td></td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>

    </table>
</body>
</html>
