<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>
  <div class="container">
    <div class="row justify-content-center" style="padding-top:60px">
        <div class="col-12 col-md-10 mt-5 mb-3">
            <h1>PRIVACY POLICY</h1>
            <p class="about-us">Last Updated January 20, 2021</p>
            <p class="about-us">
                Ralis Services Corp (referred to herein as “we”, “our” or “Ralis”)
                considers the privacy of our clients and potential clients as well as
                visitors to our website and other people with whom we communicate
                (<a style="text-transform:lowercase;" href="www.ralisservices.com">www.ralisservices.com</a>) to be extremely important. This Privacy Policy
                describes in detail the types of personal information collected and
                recorded by the company through its interactions with you, on this
                website and elsewhere, and how we use it.
            </p>
            <h3>INFORMATION RALIS MAY COLLECT</h3>
            <p class="about-us">
                We may collect information from you when you visit our website, fill
                out a form on our website, call in to give us information, interact with
                us as part of a business transaction, subscribe to any newsletters or blogs
                we may offer, or visit any social media site and of course. We may use this
                information in any one or more of the following ways:<br>
                1. To improve customer service, as your information helps us to more
                effectively respond to your service requests and support needs.<br>
                2. To provide services to you or help your online activities.<br>
                3. To send periodic emails that may contain information about Ralis,
                the products and services we offer, and other information that you may
                find useful. The emails may also be used to send you information and
                updates about your loan transaction.<br>
                4. To assist you in locating other companies capable of delivering products,
                services or information in which you may have an interest. The information we
                may collect could consist of any of the following:
            </p>
            <h2>INFORMATION YOU DIRECTLY PROVIDE TO US</h2>
            <p class="about-us">
                This could consist of things like your name, email address, mailing address
                or a phone number that you give to use via our website, telephonically or
                otherwise. (Of course, you are free to visit our website without entering any
                of that information.) In connection with services, you might enter additional
                information, which could include your financial information, email addresses and
                phone numbers, etc.
            </p>
            <h2>LOG FILES</h2>
            <p class="about-us">
                Like many other web sites, Ralis’s website makes use of log files. These files
                merely log visitors to the site — usually a standard procedure for hosting companies
                and a part of hosting service’s analytics. The information inside the log
                files includes internet protocol (IP) addresses, browser type, Internet Service Provider
                (ISP), date/time stamp, referring/exit pages, and possibly the number of clicks. This
                information is used to analyze trends, administer the site,
                track user’s movement around the site, and gather demographic information.
                IP addresses, and other such information are not linked to any information that is
                personally identifiable.
            </p>
            <h2>COOKIES AND WEB BEACONS</h2>
            <p class="about-us">
                Our website uses cookies to store information about visitors’ preferences, to record
                user-specific information on which pages the site visitor accesses or visits, and to
                personalize or customize our web page content based upon visitors’ browser type or other
                information that the visitor sends via their browser. The cookies we may use could be
                session ID cookies, which expire when you close your browser, or persistent cookies,
                which may remain on your hard drive for a period of time. If you wish to disable cookies,
                you may do so through your individual browser options. More detailed information about
                cookie management with specific web browsers can be found at your browser’s web site. As
                discussed below, various third parties may also use cookies, web beacons or other mechanisms
                to obtain information about you. Our Privacy Policy does not cover the use of cookies and other
                similar mechanisms by these third parties, except to the extent we may provide links to their
                privacy policies (discussed below).
            </p>
            <h2>USER INFORMATION</h2>
            <p class="about-us">
                We also may collect your personal information from others, such as affiliates or other
                companies. We and our third-party service providers may use a variety of technologies
                that automatically (or passively) store or collect certain information whenever you visit
                or interact with the company (“Usage Information”). This Usage Information may be stored
                or accessed using a variety of technologies that may be downloaded to your personal computer,
                browser, laptop, tablet, mobile phone or other device (a “Device”) whenever you visit or
                interact with us. The Usage Information may include, but is not limited to, your browser type,
                operating system, software version, Internet Protocol (“IP”) address or other unique identifier
                for your Device, Device location and other Device characteristics. Various methods and technologies
                to store or collect Usage Information may be used such as cookies and web beacons (also see above
                section on cookies and web beacons). You may adjust your browser or operating system settings to
                limit this tracking or to decline cookies, but by doing so, you may not be able to use certain
                features on the company site or take full advantage of all of our offerings. Check the “Help” menu
                of your browser or operating system to learn how to adjust your tracking settings or cookie preferences.
                Please note that our system may not respond to Do Not Track requests or headers from some or
                all browsers.
            </p>
            <p class="about-us">
                Our websites utilize similar tracking technologies to collect and record your activities and movements
                across our websites throughout your browsing session, including to track clicks/touches, mouse
                movements, scrolling, keystrokes, data entered, device information and orientation, and screen size
                (“session data”), for purposes of our own internal analytics and improving our products, services,
                advertising and user experience. We may share session data with our third party service providers
                for these purposes, who will use the session data solely on our behalf and for our benefit. Please
                review how you consent to the collection, use, and sharing of session data in the 
                <a href="/termsofuse" styel="text-transform: capitalize"> Terms of Use</a>.
            </p>
            <h2>OUR ADVERTISING PARTNERS</h2>
            <p class="about-us">
                Some of our advertising partners may use cookies and web beacons on our site. These third-party ad
                servers or ad networks use technology in their respective advertisements and links that appear on
                our web site and which are sent directly to your browser. They automatically receive your IP address
                when this occurs. Other technologies (such as cookies, JavaScript, or Web Beacons) may also be used
                by third-party ad networks to measure the effectiveness of their advertising campaigns and/or to
                personalize the advertising content that you see on the site. Ralis has no access to or control over
                these cookies that are used by any third-party advertisers. You should consult the respective privacy
                policies of third-party ad servers for more detailed information on their practices as well as for
                instructions about how to opt-out of certain practices. Ralis’s Privacy Policy does not apply to, and
                we cannot control the activities of, such other advertisers or web sites.
            </p>
            <h2>OTHER THIRD PARTY SERVICE PROVIDERS</h2>
            <p class="about-us">
                From time to time, Ralis may use services provided by third-parties to enhance the user experience
                for its web sites, improve the performance of its web site, to understand more about its site visitors,
                or to otherwise assist Ralis in improving or making decisions about its marketing and business
                operations. These third-party service providers may also collect information from your browser, and
                may use cookies, web beacons, or other mechanisms to do so.
            </p>
            <h3>HOW RALIS MAY USE AND DISCLOSE YOUR NON-PUBLIC INFORMATION</h3>
            <h2>PERSONAL FINANCIAL INFORMATION</h2>
            <p class="about-us">
                Any financial information you share with us (e.g., financial information and credit card numbers)
                will be saved, if at all, on a secured website and/or server. This information will only be available
                to our employees and affiliates, persons or entities providing services in connection with your
                services that have a need to know the information or our attorneys, accountants and auditors, all of
                whom agree to and are bound to keep your information secure and confidential.
            </p>
            <h2>OTHER NON-PUBLIC INFORMATION</h2>
            <p class="about-us">
                We may share some of the non-public information we collect about you with third parties, like companies
                performing services on our behalf, so long as those parties agree to keep your information confidential.
                We may also release your non-public information when we believe the release is appropriate to comply with
                the law, enforce our site policies, or protect our or others’ rights, property, or safety. Non-personally
                identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
            </p>
            <h2>DO NOT TRACK DISCLOSURES</h2>
            <p class="about-us">
                Ralis does not track its customers over time and across third party websites, and therefore does not
                respond to Do Not Track (DNT) signals. However, Ralis may use third-party services or have third-party
                advertising partners who may keep track of your browsing activities.
            </p>
            <h2>CONSENT</h2>
            <p class="about-us">
                By using our website or transacting business with our company, you hereby consent to this privacy
                policy and agree to its terms. If you require any more information or have any questions about our
                privacy policy, please feel free to contact us at 844-347-2547.
            </p>
            <h2>YOUR CALIFORNIA PRIVACY RIGHTS</h2>
            <p class="about-us">Other important information for California residents.</p>
            <p class="about-us">
                If you are a California resident, you have the right to receive:<br>
                1. Information identifying the names and addresses of any third party company(ies) to whom we may
                have disclosed, within the past calendar year, personal information pertaining to you and your
                family for that company's own direct marketing purposes; and<br>
                2. A description of the categories of personal information disclosed for those purposes.<br>
                To obtain such information you must make a request in writing. Your request must include your name
                registration (email address), the site name you visited and a return address or it will not be processed.
                We will not honor such requests more than once per calendar year. Requests made via email will not beaccepted.
                Please mail your request to the address listed below:
            </p>
            <p class="about-us">
                Ralis Corporation<br>
                One City Blvd West, Suite 1900
                Orange, CA 92868
            </p>
            <h2>UPDATE</h2>
            <p class="about-us">
                This Privacy Policy was last updated on: January 20, 2021. Should we update, amend or make any changes
                to our privacy policy, those changes will be posted here.
            </p>
        </div>
    </div>
</div>
  <%- include ("../partials/footer.ejs") %>
</body>
</html>
