

<head>
  <% include ../partials/header.ejs %>
</head>

<meta name="viewport" content="width=device-width,
initial-scale=1">


<body class="" style="zoom: 1.5; background: lightgrey;" data-gr-c-s-loaded="true">
<div class="container">
    <div class="row Header">
        <div class="col-12">
			<<div style="height:40px"></div>
			<nav class="navbar fixed-top navbar-dark bg-dark">
  				<a class="navbar-brand" href="till.ccd.church">THE WAY</a>
				
				
		<div>
			<div id="select" class="text-right">
					<i class="fa fa-cog"></i>
					<select id="mySelect">
						<option value="split">All Orders</option>
						<option value="table">Table Orders</option>
						<option value="takeaway">Takeaway Orders</option>
					</select>
			<!-- 		<i>Max Orders:</i> -->
					<select id="sla">
						<option value="1200">20 mins</option>
						<option value="600">10 mins</option>
						<option value="300">5 mins</option>
					</select>		
			<!-- 		<i>Max Orders:</i> -->
					<select id="myNum">
						<option value="20">20 Orders</option>
						<option value="10">10 Orders</option>
						<option value="5">5 Orders</option>
					</select>
			<!-- 		<i>Display Order:</i> -->
					<select id="myOrder">
						<option value="asc">Oldest First</option>
						<option value="desc">Newest First</option>
					</select>
				</div>
			</div>
			<div>
				<p class="text-center" id="count" style="color: green;"><strong col=""> Current Open Orders: 1</strong></p>
				
    		</div>
		</nav>
			
			
			
			
        </div>
    </div>
	
	
	
	
    <div class="row">
        <div style="width:100%;" class="Take col-xs-6"> 
			<div class="center" id="content"></div>
		<div style="width:100%;" class="Table col-xs-6">
        	<div id="right"></div>
    </div>
	
	
	
	
	<div class="row Footer">
	        <div class="col-xs-12"></div>
	    </div>
	</div>
</body>

<style type="text/css">
br {
    margin: 0;
}

h5 {
    margin: 0;
}

/* Flash class and keyframe animation */
.flashit{
  color:#f2f;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .3; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .3; } 
	100% { opacity: 1; }
	
</style>
