<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.css" id="theme-styles">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
<script src="script.js"></script>



<meta name="viewport" content="width=device-width,
initial-scale=1">

<body class="" style="zoom: 1.5; background: lightgrey;" data-gr-c-s-loaded="true">
    <div style="
    background: slategrey;
    height: auto;
    width: 100%;
">
<!-- <div id="help" style="margin: 5px; float: left;">
			 <a style="" onclick="window.open('https://joshuscurtis.github.io/theway/help.html', 'https://joshuscurtis.github.io/theway/help.html'); return false;" class="btn btn-info text-white" role="button" aria-pressed="true">
            Help
        </a>
	</div> -->
	<div id="select" class="text-right" style="padding: 12px;">

		<i class="fa fa-cog"></i>
		<select id="mySelect">
			<option value="split">All Orders</option>
			<option value="table">Table Orders</option>
			<option value="takeaway">Takeaway Orders</option>
		</select>
<!-- 		<i>Max Orders:</i> -->
		<select id="myNum">
			<option value=20>20</option>
			<option value=10>10</option>
			<option value=5>5</option>


		</select>
<!-- 		<i>Display Order:</i> -->
		<select id="myOrder">
			<option value="asc">Oldest First</option>
			<option value="desc">Newest First</option>
		</select>
	</div>


       <!-- <a style="float:right;margin-top: 5px;margin-right: 10%;" onclick="window.open('table.html', 'table.html'); return false;" class="btn btn-primary text-white" role="button" aria-pressed="true">
            Table Orders
        </a> -->
		
		
    </div>
    <div style="width: 90%; margin-left: 5%; ">
        <br>
        	<div>
				<p class="text-center" id="count"></p>
	            <div class="center" id="content">
					
					<div id="loader" class="text-center">
						<div class="spinner-border" role="status">
			    			<span class="sr-only">Loading...</span>
	            		</div>
	            	</div>
	    		</div>
				<div id="right">
					
				</div>
</body>

<style type="text/css">
br {
    margin: 0;
}

h5 {
    margin: 0;
}


</style>
