

<head>
  <% include ../partials/header.ejs %>
</head>

<meta name="viewport" content="width=device-width,
initial-scale=1">

<body class="" style="zoom: 1.5; background: lightgrey;" data-gr-c-s-loaded="true">
    <div style="
    background: slategrey;
    height: auto;
    width: 100%;
">

	<div id="select" class="text-right" style="padding: 12px;">
		<i class="fa fa-cog"></i>
		<select id="mySelect">
			<option value="split">Show: All Orders</option>
			<option value="table">Show: Table Orders</option>
			<option value="takeaway">Show: Takeaway Orders</option>
		</select>
<!-- 		<i>Max Orders:</i> -->
		<select id="sla">
			<option value=600>Alerts: 10 mins</option>
			<option value=300>Alerts: 5 mins</option>
			<option value=60>Alerts: 1 mins</option>
		</select>		
		
		
		
<!-- 		<i>Max Orders:</i> -->
		<select id="myNum">
			<option value=20>Load: 20 orders</option>
			<option value=10>Load: 10 orders</option>
			<option value=5>Load: 5 orders</option>
		</select>
<!-- 		<i>Display Order:</i> -->
		<select id="myOrder">
			<option value="asc">Order: Oldest First</option>
			<option value="desc">Order: Newest First</option>
		</select>
	</div>
</div>
    <div style="width: 90%; margin-left: 5%; ">
        <br>
        	<div>
				<p class="text-center" id="count"></p>
	            <div class="center" id="content">
					
					<div id="loader" class="text-center">
						<div class="spinner-border" role="status">
			    			<span class="sr-only">Loading...</span>
	            		</div>
	            	</div>
	    		</div>
				<div id="right">
					
				</div>
</body>




<style type="text/css">
br {
    margin: 0;
}

h5 {
    margin: 0;
}

/* Flash class and keyframe animation */
.flashit{
  color:#f2f;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .3; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .3; } 
	100% { opacity: 1; }
	
</style>
