

<head>
  <% include ../partials/header.ejs %>
</head>

<meta name="viewport" content="width=device-width,
initial-scale=1">

<body class="" style="zoom: 1.5; background: lightgrey;" data-gr-c-s-loaded="true">
    <div style="
    background: slategrey;
    height: auto;
    width: 100%;
">

	<div id="select" class="text-right" style="padding: 12px;">
		<i class="fa fa-cog">Show: </i>
		<select id="mySelect">
			<option value="split">All Orders</option>
			<option value="table">Table Orders</option>
			<option value="takeaway">Takeaway Orders</option>
		</select>
<!-- 		<i>Max Orders:</i> -->
		<i class="fa fa-clock">Alerts: </i>
		<select id="sla">
			<option value=1200>20 mins</option>
			<option value=600>10 mins</option>
			<option value=30p>5 mins</option>
		</select>		
<!-- 		<i>Max Orders:</i> -->
		<select id="myNum">
<i class="fa fa-cog">Load: </i>
			<option value=20>20 Orders</option>
			<option value=10>10 Orders</option>
			<option value=5>5 Orders</option>
		</select>
<!-- 		<i>Display Order:</i> -->
		<select id="myOrder">
			<i class="fa fa-cog">Order: </i>
			<option value="asc">Oldest First</option>
			<option value="desc">Newest First</option>
		</select>
	</div>
</div>
    <div style="width: 90%; margin-left: 5%; ">
        <br>
        	<div>
				<p class="text-center" id="count"></p>
	            <div class="center" id="content">
					
					<div id="loader" class="text-center">
						<div class="spinner-border" role="status">
			    			<span class="sr-only">Loading...</span>
	            		</div>
	            	</div>
	    		</div>
				<div id="right">
					
				</div>
</body>

 <!-- Load our React component. -->

 
<script src="react.js" type="text/babel"></script>






<style type="text/css">
br {
    margin: 0;
}

h5 {
    margin: 0;
}

/* Flash class and keyframe animation */
.flashit{
  color:#f2f;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .3; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .3; } 
	100% { opacity: 1; }
	
</style>
