<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>
  <div class="container">
    <div class="row justify-content-center" style="padding-top:60px">
        <div class="col-12 col-md-10 mt-5 mb-3">
            <h1>TERMS OF USE</h1>
            <p class="about-us">Last Updated January 20, 2021</p>
            <h2>NOTICE</h2>
            <p class="about-us">
                Please read these terms and conditions carefully. By accessing this site and any
                pages thereof, you agree to be bound by the terms and conditions below. If you do
                not agree to the terms and conditions below, do not access this site, or any pages
                thereof. If you have any queries, please don’t hesitate to ask.
            </p>
            <h2>USE OF INFORMATION AND MATERIALS</h2>
            <p class="about-us">
                The information and materials contained in these pages, and the terms, conditions,
                and descriptions that appear, are subject to change. Unauthorized use of Ralis Services
                Corp’s (“Ralis”) web site and systems including but not limited to unauthorized entry into
                Ralis’s systems, misuse of passwords, or misuse of any information posted on a site is
                strictly prohibited. Not all products and services are available in all geographic areas.
                Your eligibility for particular products and services is subject to final determination by Ralis.
            </p>
            <h2>NO WARRANTY</h2>
            <p class="about-us">
                The information and materials contained in this site, including text, graphics, links or
                other items are provided “as is”, “as available”. Ralis does not warrant the accuracy,
                adequacy or completeness of this information and materials and expressly disclaims liability
                for errors or omissions in this information and materials. No warranty of any kind, implied,
                expressed or statutory including but not limited to the warranties of non-infringement of
                third party rights, title, merchantability, fitness for a particular purpose and freedom
                from computer virus, is given in conjunction with the information and materials.
            </p>
            <h2>LIMITATION OF LIABILITY</h2>
            <p class="about-us">
                In no event will Ralis be liable for any damages, including without limitation direct or
                indirect, special, incidental, or consequential damages, losses or expenses arising in connection
                with this site or any linked site or use thereof or inability to use by any party, or in connection
                with any failure of performance, error, omission, interruption, defect, delay in operation or
                transmission, computer virus or line or system failure, even if Ralis, or representatives thereof,
                are advised of the possibility of such damages, losses or expenses.
            </p>
            <h2>COPYRIGHT</h2>
            <p class="about-us">
                The Ralis logo and all designs, text, graphics, pictures, information, data, software, sound files,
                other files and the selection and arrangement thereof (collectively, “Site Materials”) are the
                proprietary property of Ralis or its licensors or users and are protected by U.S. and international
                copyright laws.
            </p>
            <h2>Consent to tracking technologies</h2>
            <p class="about-us">
                You consent to the use of tracking technologies on Ralis’s websites and mobile applications to collect
                and record your activities and movements across our websites throughout your browsing session, including
                to track clicks/touches, mouse movements, scrolling, keystrokes, data entered, device information and
                orientation, and screen size (“session data”), for purposes of our own internal analytics and improving
                our products, services, advertising and user experience. You also consent to our sharing of your session
                data with our third party service providers for these purposes. Please review our
                <a href="/privacypolicy" styel="text-transform: capitalize"> Privacy Policy</a> for
                more information about our collection, use, and sharing of session data.
            </p>
            <h2>SUBMISSIONS</h2>
            <p class="about-us">
                All information submitted to Ralis via this site shall be deemed and remain the property of Ralis and
                Ralis shall be free to use, for any purpose, any idea, concepts, know-how or techniques contained in
                information a visitor to this site provides Ralis through this site. Ralis shall not be subject to any
                obligations of confidentiality regarding submitted information except as agreed by the Ralis entity
                having the direct customer relationship or as otherwise specifically agreed or required by law.
            </p>
            <h2>AVAILABILITY</h2>
            <p class="about-us">
                This site is not intended for distribution to, or use by, any person or entity in any jurisdiction or
                country where such distribution or use would be contrary to local law or regulation. By offering this
                site and information, or any products or services via this site, no distribution or solicitation is made
                by Ralis to any person to use this site, or such information, products or services in jurisdictions
                where the provision of this site and such information, products and services is prohibited by law.
            </p>
            <h2>ADDITIONAL TERMS</h2>
            <p class="about-us">
                Certain sections or pages on this site may contain separate terms and conditions, which are in addition
                to these terms and conditions. In the event of a conflict, the additional terms and conditions will
                govern for those sections or pages.
            </p>
            <h2>GOVERNING LAW</h2>
            <p class="about-us">
                Use of this site shall be governed by all applicable federal laws of the United States of America and
                the laws of the state of California.
            </p>
        </div>
    </div>
</div>
  <%- include ("../partials/footer.ejs") %>
</body>
</html>
