<html>
<head>
    <title>NBA Advanced Stats Generator</title>
    {{> header}}
</head>
<body>
<div class="container">
    <h1>NBA Advanced Stats Generator</h1>
    <p>Generate blog-friendly tables and charts for NBA advanced stats</p>
    <table class="teams  table table-striped table-bordered table-hover table-condensed">
        <tbody>
        {{#each teams}}
            <tr>
                <td>{{teamName}}</td>
                <td><a href="/team/{{simpleName}}">Last Game</a></td>
                <td><a href="/team/averages/{{simpleName}}">Season averages</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
</body>
</html>