<thead>
<tr class="ui-state-even">
    <td style="text-align: center;"><b>Player<br></b></td>
    <td style="text-align: center;" title="Minutes played"><b>Min</b></td>
    <td style="text-align: center;" title="AdjGS: a take-off of the Game Score metric from basketball-reference.com accepted by a lot of basketball stat nerds. It takes points, assists, rebounds (offensive & defensive), steals, blocks, turnovers and fouls into account to determine an individual's 'score' for a given game. The 'adjustment' in Adjusted Game Score is simply matching the total game scores to the total points scored in the game, thereby redistributing the game's points scored to those who had the biggest impact on the game itself, instead of just how many balls a player put through a basket."><b>AdjGS</b></td>
    <td style="text-align: center;" title="AdjGS per minute"><b>GS/Min</b></td>
    <td style="text-align: center;"><b>Line</b></td>
    <td style="text-align: center;" title="This estimates the % of team possessions a player consumes while on the floor (via basketball-reference.com). The usage of those possessions is determined via a formula using field goal and free throw attempts, offensive rebounds, assists and turnovers. The higher the number, the more prevalent a player is (good or bad) in a team's offensive outcome."><b>Usage%</b></td>
    <td style="text-align: center;" title='Floor % answers the question, "when Player X uses a possession, what is the probability that his team scores at least 1 point?". The higher the Floor%, the more frequently the team probably scores when the given player is involved.'><b>Floor%</b></td>
    <td style="text-align: center;" title="Points per 100 possessions while player is on floor"><b>OffRtg</b></td>
    <td style="text-align: center;" title="Points allowed per 100 possessions while player is on floor"><b>DefRtg</b></td>
    <td style="text-align: center;" title="Offensive Rating - Defensive Rating"><b>NetRtg</b></td>

</tr>
</thead>
