<h4>{{us.teamName}}</h4>
<table id="players-us" border="1" class="sbn-data-table players">
    {{> playersHeader}}
    <tbody>
    {{#each us.players}}
        {{> player}}
    {{/each}}
    </tbody>
</table>

<h4><a id="showOpponentPlayers" href="#" style="font-size: 0.8em;">Show {{them.teamName}} Players</a></h4>
<table id="players-them" border="1" class="sbn-data-table players" style="display:none;">
    {{> playersHeader}}
    <tbody>
    {{#each them.players}}
    {{> player}}
    {{/each}}
    </tbody>
</table>


<script src="https://cdn1.vox-cdn.com/uploads/chorus_asset/file/2878066/jquery.tablesorter.min.0.js"></script>
<script>(function($) {
    $('table.players').tablesorter().find('thead tr td').click(function(){setTimeout(stripeTables, 1)});
    $(function() {
        enableToggle('#showOpponentPlayers', '#players-them', 'Show {{them.teamName}} Players', 'Hide {{them.teamName}} Players');
    });
})(jQuery);

</script>
<style>
    .l-main table.players {
        width: 145%;
        min-width: 580px;
    }
    /*on larger devices, display the overflow*/
    @media (min-width: 600px) {
        .players-container .overflow-wrapper {
            overflow-x: visible;
        }
    }

    @media (max-width: 600px) {
        /*on small devices, make the second line of the Line <td> drop to second line*/
        td .player-points {
            display:block;
        }
    }
</style>