<h3>{{us.teamName}} Shot Chart</h3>
<p id="shotChartContainer">
    <iframe class="shotChart" src="{{us.shotChartUrl}}"></iframe>
</p>

<h3>{{them.teamName}} Shot Chart</h3>
<p id="shotChartContainer">
    <iframe class="shotChart" src="{{them.shotChartUrl}}"></iframe>
</p>