<h2>{{us.teamName}} Shot Chart</h2>
<p id="shotChartContainer">
    <iframe class="shotChart" src="{{us.shotChartUrl}}"></iframe>
</p>

<h2>{{them.teamName}} Shot Chart</h2>
<p id="shotChartContainer">
    <iframe class="shotChart" src="{{them.shotChartUrl}}"></iframe>
</p>