.textLink {
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    justify-content: flex-end;


}

.textLink a{

    text-decoration-color: none;
    color: black;



}

 .textLink a:hover{
  text-decoration: none;
  color: black;
}

/* 
.textLink a:link {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

a:link{
  text-decoration: none;
} */ 

.note-title{
  justify-content: left;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;

}

.note-content{
    width: 100%;
    justify-content: left;
    text-align: left;
    margin-left:  0%;
}

.edittext {
    margin-top: 0%;
      display: flex;
      justify-content: flex-end;
      justify-content: flex-end;
      align-self: flex-end;
      align-content: flex-end;
      text-decoration: underline;
      text-decoration-color: none;
    font-style: normal;

}